openapi: 3.0.0
info:
  title: 'Star Citizen API'
  contact:
    email: foxftw@star-citizen.wiki
  version: 3.0.0
servers:
  -
    url: 'https://api.star-citizen.wiki'
paths:
  /api/items:
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Overview'
      description: 'Returns paginated in-game items for the requested category and version with optional filters/includes.'
      operationId: caa5b59cdee8fe4be0e7aba773065367
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[variants]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Items'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_item'
  '/api/items/{identifier}':
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Detail'
      description: 'Retrieve a specific item by name or UUID with metadata and includes.'
      operationId: cc74abcb9fb80ecbe534d6aea93df75c
      parameters:
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
      responses:
        '200':
          description: 'An Item'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/game_item'
  /api/items/search:
    post:
      tags:
        - In-Game
        - Items
        - Search
      summary: 'In-Game Item Search'
      description: 'Search items by title, manufacturer, or classification with optional filters.'
      operationId: 67e81b3a53d62afe9d3d713e391d6d05
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[variants]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          schema:
            type: string
      requestBody:
        description: 'Item Name or (sub)type'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Arrow"}'
      responses:
        '200':
          description: 'A List of matching Items'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_item'
  /api/items/filters:
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Filters'
      description: 'Return all available filter values for in-game items, grouped by field.'
      operationId: 8cd032a0b4591c3e203c00e9e5779194
      parameters:
        -
          name: version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Available filters for in-game items.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, sub_type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, classification: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, grade: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, class: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/manufacturers:
    get:
      tags:
        - In-Game
        - Manufacturers
      summary: 'In-Game Manufacturers Overview'
      description: 'Returns paginated manufacturers grouped by name with optional pagination.'
      operationId: 1f9d905a5e89dba1162f35428b92847c
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: 'List of Manufacturers'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/manufacturer_link'
  '/api/manufacturers/{manufacturer}':
    get:
      tags:
        - In-Game
        - Manufacturers
      summary: 'In-Game Manufacturer Detail'
      description: 'Retrieve a manufacturer by name, UUID, or code together with its products.'
      operationId: cba9b0f51268f6c1d4309aa573d37a9c
      parameters:
        -
          name: manufacturer
          in: path
          required: true
          schema:
            description: 'Manufacturer name, uuid, or code'
            type: string
      responses:
        '200':
          description: 'A Manufacturer and its products'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturer'
  /api/manufacturers/search:
    post:
      tags:
        - In-Game
        - Manufacturers
        - Search
      summary: 'In-Game Manufacturer Search'
      description: 'Search manufacturers by name, UUID, or code with optional pagination.'
      operationId: 26ff6a6dbd3785225cf297e83cc1b306
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Manufacturer name, uuid, or code'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Anvil"}'
      responses:
        '200':
          description: 'A List of matching Manufacturers'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/manufacturer_link'
  /api/vehicles:
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicles Overview'
      description: 'Returns paginated in-game vehicles for the requested version and vehicle type with optional filters.'
      operationId: 64acf0fa3be1afd1fa9ee22c03f755bc
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[career]'
          in: query
          schema:
            type: string
        -
          name: 'filter[role]'
          in: query
          schema:
            type: string
        -
          name: 'filter[is_vehicle]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_gravlev]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_spaceship]'
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: 'List of Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_vehicle'
  '/api/vehicles/{identifier}':
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicle Detail'
      description: 'Retrieve a vehicle by name, class name, or UUID along with requested includes.'
      operationId: 7bbede0623fe40dc123a58b51718a2c8
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Vehicle name, class_name, or UUID'
            type: string
        -
          $ref: '#/components/parameters/include'
      responses:
        '200':
          description: 'A Vehicle'
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/game_vehicle' }
                  - { $ref: '#/components/schemas/ship_matrix_vehicle' }
  /api/vehicles/search:
    post:
      tags:
        - In-Game
        - Vehicles
        - Search
      summary: 'In-Game Vehicle Search'
      description: 'Search vehicles by name, career, or identifier with optional filters and pagination.'
      operationId: e50aec74b72796ff0e51ce4bf5bf3a9e
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[career]'
          in: query
          schema:
            type: string
        -
          name: 'filter[role]'
          in: query
          schema:
            type: string
        -
          name: 'filter[is_vehicle]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_gravlev]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_spaceship]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by Ship-Matrix focus slug'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by Ship-Matrix type slug'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by Ship-Matrix production status slug'
          schema:
            type: string
      requestBody:
        description: 'Vehicle name, class_name, career, or UUID'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Avenger"}'
      responses:
        '200':
          description: 'A List of matching Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_vehicle'
  /api/vehicles/filters:
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicle Filters'
      description: 'Return all available filter values for in-game vehicles.'
      operationId: 57e041d605c3ed0ffabeccf150c51a5e
      parameters:
        -
          name: version
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Available filters for in-game vehicles.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_vehicle: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_gravlev: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_spaceship: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, role: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, career: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/comm-links:
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Links Overview'
      description: 'Returns paginated comm-links with optional includes, categories, series, and channel filters.'
      operationId: 2204c384d22cb7168f6dd5830328c4dd
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/comm_link_includes'
        -
          name: 'filter[channel]'
          in: query
          schema:
            type: string
        -
          name: 'filter[series]'
          in: query
          schema:
            type: string
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Comm-Links'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link'
  /api/comm-links/filters:
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Filters'
      description: 'Return all available filter values for Comm-Links.'
      operationId: 022b883a0bc1e7ae8691f000cb019a02
      responses:
        '200':
          description: 'Available filters for Comm-Links.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { category: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, channel: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, series: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/comm-links/{id}':
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Detail'
      description: 'Retrieve a single comm-link by ID with the requested related resources.'
      operationId: 0f21f5e85cfa4d0fe0076f0d4a0d0ffd
      parameters:
        -
          $ref: '#/components/parameters/comm_link_includes'
        -
          name: id
          in: path
          required: true
          schema:
            description: 'Comm-Link ID, starting from 12663'
            type: integer
            format: int64
            minimum: 12663
      responses:
        '200':
          description: 'A singular Comm-Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comm_link'
        '404':
          description: 'No Comm-Link with specified ID found.'
  /api/comm-links/search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Search'
      description: 'Query comm-links by title or ID with localized includes.'
      operationId: 2efd50e02ba871c509078dcf08701557
      parameters:
        -
          $ref: '#/components/parameters/locale'
      requestBody:
        description: '(Partial) Comm-Link Title or ID'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Banu Merchantman"}'
      responses:
        '200':
          description: 'A singular Comm-Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comm_link'
        '404':
          description: 'No Comm-Link with found.'
  /api/comm-links/reverse-image-link-search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Link Search'
      description: 'Return comm-links that reference the same RSI-hosted image URL.'
      operationId: ae85fe68648858545fbb25b4733dcea8
      requestBody:
        description: 'Url to an image hosted on (media.)robertsspaceindustries.com'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"url": "https://robertsspaceindustries.com/i/cc75a45005a236c6e015dfc2782a2f55ed1e84a2/ADdPNihJzmPbNuTnFsH1DqUeqBRpXdSXVVtgJTyDDgscGKrzJuoFjResiiucPBBDeyrBscqRyZz4qxNsSbWvqUwdG/alien-week-2022-front.webp"}'
      responses:
        '200':
          description: 'List of Comm-Links that use that image'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'No Comm-Link found.'
  /api/v2/comm-links/reverse-image-search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Search'
      description: 'Search comm-links by uploading an image and specifying a similarity threshold.'
      operationId: 8bdf90ecd3e5006a622e7003282cc66b
      parameters:
        -
          name: similarity
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - image
              properties:
                image:
                  description: 'The image to reverse-search'
                  type: string
                  format: binary
              type: object
      responses:
        '200':
          description: 'List of Comm-Links that use that image'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'No Comm-Link found.'
  '/api/comm-link-images/{image}/similar':
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Similar Search'
      description: 'Find Comm-Link images similar to an existing RSI-hosted image.'
      operationId: fade67e6a8c4629ba8554b85925c1148
      parameters:
        -
          name: image
          in: path
          required: true
          schema:
            type: integer
        -
          name: similarity
          in: query
          description: 'Threshold similarity percentage (defaults to 50)'
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
      responses:
        '200':
          description: 'List of Comm-Link images that match the requested similarity'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'Comm-Link image not found.'
  /api/comm-link-images:
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
      summary: 'Comm-Link Images'
      description: 'List available comm-link images with pagination.'
      operationId: a705f668107b86178c6624b972dddefd
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: 'List of Comm-Link Images'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  /api/comm-link-images/random:
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
      summary: 'Comm-Link Images Random'
      description: 'Retrieve random comm-link images, optionally filtered by tag.'
      operationId: 0b0b5e244ccfb0fe78f81d536ba99257
      parameters:
        -
          name: limit
          in: query
          schema:
            type: integer
            maximum: 100
        -
          name: 'filter[tags]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Retrieve a random Comm-Link Image. Limit parameter sets the number of random images'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  /api/comm-link-images/search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
        - Search
      summary: 'Comm-Link Image Search by filename'
      description: 'Search comm-link images by filename with optional tag filtering.'
      operationId: dbd72b035105c4dcf17ee654931fe2ff
      parameters:
        -
          name: 'filter[tags]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Search for a Comm-Link Image by its filename.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  /api/galactapedia:
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Overview'
      description: 'Return paginated Galactapedia articles with category, tag, and template filters.'
      operationId: 48f80f5118a6ef2670845b9dd1b90357
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: 'filter[categoryId]'
          in: query
          schema:
            type: string
        -
          name: 'filter[tag]'
          in: query
          schema:
            type: string
        -
          name: 'filter[tagId]'
          in: query
          schema:
            type: string
        -
          name: 'filter[template]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Galactapedia Articles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/galactapedia_article'
  /api/galactapedia/filters:
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Filters'
      description: 'Return all available filter values for Galactapedia articles.'
      operationId: 8087c05b7d87a42900d3c920dcaf1c6e
      responses:
        '200':
          description: 'Available filters for Galactapedia.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { category: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, tag: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, template: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/galactapedia/{id}':
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Article'
      description: 'Retrieve a Galactapedia article by ID with available includes and translations.'
      operationId: 541ad0798eef38797ca9a341b81eedac
      parameters:
        -
          $ref: '#/components/parameters/locale'
        -
          name: id
          in: path
          required: true
          schema:
            description: 'Galactapedia Article ID'
            type: string
        -
          name: include
          in: query
          explode: false
          allowReserved: true
          schema:
            description: 'Available Galactapedia includes'
            type: array
            items:
              type: string
              enum:
                - translations
                - tags
                - categories
                - related_articles
                - properties
      responses:
        '200':
          description: 'A singular Article'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/galactapedia_article'
        '404':
          description: 'No Article with specified ID found.'
  /api/galactapedia/search:
    post:
      tags:
        - Galactapedia
        - RSI-Website
        - Search
      summary: 'Galactapedia Article Search'
      description: 'Search Galactapedia articles by title, template, slug, or related metadata.'
      operationId: ed9b1b052b5dd9a03e0f7ee5a21cb8dd
      requestBody:
        description: 'Article (partial) title, template or slug'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Banu"}'
      responses:
        '200':
          description: 'List of articles matching the query'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/galactapedia_article'
        '404':
          description: 'No Article found.'
  /api/celestial-objects:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starmap Celestial Objects Overview'
      description: 'Returns paginated celestial objects with optional relationships.'
      operationId: cb1abb65b355a5cbf26f23c3b231a676
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, starsystem).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'List of Celestial Objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/celestial_object'
  '/api/celestial-objects/{code}':
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Celestial Object Detail'
      description: 'Retrieve a celestial object by code or identifier, optionally including relations.'
      operationId: a56221ed3240e9c31bd996fb9cf85248
      parameters:
        -
          name: code
          in: path
          required: true
          schema:
            description: 'Celestial Object code or identifier'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, starsystem).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'A Celestial Object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/celestial_object'
        '404':
          description: 'No Celestial Object with specified code or name found.'
  /api/celestial-objects/search:
    post:
      tags:
        - Starmap
        - RSI-Website
        - Search
      summary: 'Celestial Object Search'
      description: 'Search celestial objects by code, cig_id, or name.'
      operationId: 34134c8a7a8bb87a6c6f905cbce9ed42
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Partial celestial object code or name to search for'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  type: string
              type: object
            example: '{"query": "Pleiades"}'
      responses:
        '200':
          description: 'List of matching Celestial Objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/celestial_object'
  /api/starsystems:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starmap Starsystems Overview'
      description: 'Returns paginated starsystems, optionally including related resources.'
      operationId: dfb10343a9a3f85578e98f63dbfa7bf2
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[affiliation]'
          in: query
          schema:
            type: string
        -
          name: 'filter[status]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, celestialObjects).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'List of Starsystems'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/starsystem'
  '/api/starsystems/{code}':
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starsystem Detail'
      description: 'Retrieve a starsystem by code or identifier, with optional includes.'
      operationId: 1b478c502ef1afe25fbdcc192a8b7fd6
      parameters:
        -
          name: code
          in: path
          required: true
          schema:
            description: 'Starsystem code or identifier (e.g. SOL)'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, celestialObjects).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'A Starsystem'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/starsystem'
        '404':
          description: 'No Starsystem with specified code found.'
  /api/starsystems/search:
    post:
      tags:
        - Starmap
        - RSI-Website
        - Search
      summary: 'Starsystem Search'
      description: 'Search for starsystems by code, cig_id, or name.'
      operationId: ae8a21d883ee8e48ac7be01e3ed3084a
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Partial starsystem code or name to search for'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  type: string
              type: object
            example: '{"query": "Sol"}'
      responses:
        '200':
          description: 'List of matching Starsystems'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/starsystem'
  /api/starsystems/filters:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starsystem Filters'
      description: 'Return all available filter values for starsystems.'
      operationId: 7d3e54fa78ec8659a190388720bb5523
      responses:
        '200':
          description: 'Available filters for starsystems.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { affiliation: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, status: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/stats/latest:
    get:
      tags:
        - Stats
        - RSI-Website
      summary: 'Latest Fund / Fleet Stats'
      description: 'Return the most recent fund and fleet statistics snapshot.'
      operationId: bd891b16c3cee16ea79438380f9b4f8b
      responses:
        '200':
          description: 'Latest statistics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stat'
  /api/stats:
    get:
      tags:
        - Stats
        - RSI-Website
      summary: 'Fund / Fleet Stats'
      description: 'Return paginated historical fund and fleet statistics.'
      operationId: 5e2fda37059d5c1883d2b7b511c2ac53
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: 'List of stats'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stat'
  /api/shipmatrix/vehicles:
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicles Overview'
      description: 'Returns paginated Ship Matrix vehicles with optional filters for manufacturer, size, and status.'
      operationId: 3222e355ea1183c3b381f5e039cdfe45
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by vehicle type slug'
          schema:
            type: string
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by vehicle focus slug (comma-separated for multiple)'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by production status slug'
          schema:
            type: string
      responses:
        '200':
          description: 'List of Ship-Matrix Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ship_matrix_vehicle'
  /api/shipmatrix/vehicles/filters:
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicle Filters'
      description: 'Return all available filter values for Ship Matrix vehicles.'
      operationId: 2906e4ea55463870d8502d869947066f
      responses:
        '200':
          description: 'Available filters for Ship Matrix vehicles.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, focus: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, production_status: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/shipmatrix/vehicles/{slug}':
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicle Detail'
      description: 'Retrieve a Ship Matrix vehicle by slug with optional related data.'
      operationId: e0523e99711c283e722b02838dcad21e
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            description: 'Vehicle slug'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (components, loaner, skus)'
          schema:
            type: string
      responses:
        '200':
          description: 'A Ship-Matrix Vehicle'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ship_matrix_vehicle'
        '404':
          description: 'Vehicle not found'
  /api/shipmatrix/vehicles/search:
    post:
      tags:
        - Ship-Matrix
        - Vehicles
        - Search
      summary: 'Ship Matrix Vehicle Search'
      description: 'Search Ship Matrix vehicles by name with optional filters for manufacturer, size, and status.'
      operationId: 1405185e569f89147a09bdd1b41b8519
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by vehicle type slug'
          schema:
            type: string
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by vehicle focus slug'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by production status slug'
          schema:
            type: string
      requestBody:
        description: 'Vehicle name to search for'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Avenger"}'
      responses:
        '200':
          description: 'A List of matching Ship-Matrix Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ship_matrix_vehicle'
        '404':
          description: 'No matching vehicles found'
components:
  schemas:
    filter_value:
      title: 'Filter Value'
      description: 'A value available for filtering along with a human label and result count.'
      properties:
        value:
          nullable: true
          oneOf:
            -
              type: string
            -
              type: integer
            -
              type: boolean
        label:
          type: string
        count:
          type: integer
      type: object
    item_description_data:
      title: 'Item Description Data'
      description: 'Data found in the description of an item, e.g. "Carrying Capacity: 2kµSCU".'
      properties:
        name:
          type: string
        value:
          type: string
        type:
          description: 'Deprecated: Use "value" key.'
          type: string
          deprecated: true
      type: object
    item_dimension:
      title: 'Item Dimension'
      description: 'Dimensions of an item, generated from inventoryOccupancyDimensions or inventoryOccupancyDimensionsUIOverride in AttachDef.'
      properties:
        width:
          description: 'Width in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 0.52
          nullable: true
        height:
          description: 'Height in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 0.18
          nullable: true
        length:
          description: 'Length in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 1.12
          nullable: true
        volume:
          description: 'Cubic volume derived from the true dimensions (SCU).'
          type: number
          format: double
          example: 0.11
          nullable: true
        true_dimension:
          description: 'Raw dimensions from the game data in meters prior to overrides. Added only when the UI values differ from the canonical measurements.'
          properties:
            width:
              description: 'Original width pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 0.5
              nullable: true
            height:
              description: 'Original height pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 0.2
              nullable: true
            length:
              description: 'Original length pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 1.1
              nullable: true
          type: object
          example:
            width: 0.5
            height: 0.2
            length: 1.1
          nullable: true
      type: object
    item_distortion:
      title: 'Item Distortion'
      description: 'Distortion information from stdItem.Distortion.'
      properties:
        decay_rate:
          type: number
          format: double
          nullable: true
        decay_delay:
          type: number
          format: double
          nullable: true
        maximum:
          type: number
          format: double
          nullable: true
        overload_ratio:
          description: 'Deprecated, does not exist anymore.'
          type: number
          format: double
          nullable: true
          deprecated: true
        warning_ratio:
          type: number
          format: double
          nullable: true
        recovery_ratio:
          type: number
          format: double
          nullable: true
        recovery_time:
          description: 'Deprecated, does not exist anymore.'
          type: number
          format: double
          nullable: true
          deprecated: true
        power_ratio_at_max_distortion:
          type: number
          format: double
          nullable: true
        power_change_only_at_max_distortion:
          type: integer
          nullable: true
        shutdown_time:
          type: number
          format: double
          nullable: true
      type: object
    item_durability:
      title: 'Item Durability'
      description: 'Durability information of an item, generated from SHealthComponentParams (health, repairable, salvageable) and SWearAccumulatorParams (max_lifetime).'
      properties:
        health:
          description: SHealthComponentParams@Health
          type: number
          format: double
          nullable: true
        max_lifetime:
          description: 'MaxLifetimeHours attribute on SWearAccumulatorParams'
          type: number
          format: double
          nullable: true
        repairable:
          description: SHealthComponentParams@IsRepairable
          type: boolean
        salvageable:
          description: SHealthComponentParams@IsSalvagable
          type: boolean
      type: object
    item_heat_connection:
      title: 'Item Heat Connection'
      description: 'Heat connection information, generated from EntityComponentHeatConnection attributes.'
      properties:
        temperature_to_ir:
          type: number
          format: double
          nullable: true
        ir_temperature_threshold:
          description: StartIRTemperature
          type: number
          format: double
          nullable: true
        overpower_heat:
          type: number
          format: double
          nullable: true
        overclock_threshold_min:
          type: number
          format: double
          nullable: true
        overclock_threshold_max:
          type: number
          format: double
          nullable: true
        thermal_energy_base:
          type: number
          format: double
          nullable: true
        thermal_energy_draw:
          type: number
          format: double
          nullable: true
        thermal_conductivity:
          type: number
          format: double
          nullable: true
        specific_heat_capacity:
          type: number
          format: double
          nullable: true
        mass:
          type: number
          format: double
          nullable: true
        surface_area:
          type: number
          format: double
          nullable: true
        start_cooling_temperature:
          type: number
          format: double
          nullable: true
        max_cooling_rate:
          type: number
          format: double
          nullable: true
        max_temperature:
          type: number
          format: double
          nullable: true
        min_temperature:
          type: number
          format: double
          nullable: true
        overheat_temperature:
          type: number
          format: double
          nullable: true
        recovery_temperature:
          type: number
          format: double
          nullable: true
        misfire_min_temperature:
          type: number
          format: double
          nullable: true
        misfire_max_temperature:
          type: number
          format: double
          nullable: true
        ir_emission:
          description: '(StartCoolingTemperature - StartIRTemperature) * TemperatureToIR'
          type: number
          format: double
          nullable: true
      type: object
    item_inventory:
      title: 'Item Inventory'
      description: 'Container (Inventory) of an item, resolved from SCItemInventoryContainerComponentParams'
      properties:
        uuid:
          description: 'Value of containerParams'
          type: string
          nullable: true
        width:
          description: interiorDimensions@x
          type: number
          format: double
          nullable: true
        height:
          description: interiorDimensions@z
          type: number
          format: double
          nullable: true
        length:
          description: interiorDimensions@y
          type: number
          format: double
          nullable: true
        volume:
          description: 'x*y*z'
          type: number
          format: double
          nullable: true
        scu:
          description: 'Amount of SCU this container can hold.'
          type: number
          format: double
          example: 0.002
          nullable: true
        scu_converted:
          description: 'SCU converted to referenced unit, e.g. 2000 (µSCU)'
          type: number
          format: double
          nullable: true
        unit:
          description: 'Unit as shown in the UI for example µSCU'
          type: string
          nullable: true
        open:
          description: IsOpenContainer
          type: boolean
          nullable: true
        external:
          description: IsExternalContainer
          type: boolean
          nullable: true
        closed:
          description: IsClosedContainer
          type: boolean
          nullable: true
      type: object
    item_link:
      title: 'Item Link'
      description: 'Link information to an Item'
      type: object
      allOf:
        -
          properties:
            uuid:
              type: string
            name:
              type: string
            class_name:
              type: string
              example: 987_jacket_03_01_04
            type:
              type: string
            sub_type:
              type: string
              nullable: true
            classification:
              type: string
              example: FPS.Clothing.Torso
              nullable: true
            is_base_variant:
              type: boolean
            manufacturer:
              $ref: '#/components/schemas/manufacturer_link'
            link:
              type: string
            base_variant:
              description: 'Link to base variant item'
              type: string
              nullable: true
            variants:
              type: array
              items:
                $ref: '#/components/schemas/item_link'
              nullable: true
          type: object
        -
          $ref: '#/components/schemas/metadata'
    item_port:
      title: 'Item Port'
      properties:
        name:
          type: string
        display_name:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        size:
          type: integer
          nullable: true
        sizes:
          properties:
            min:
              type: integer
              nullable: true
            max:
              type: integer
              nullable: true
          type: object
        compatible_types:
          type: array
          items:
            $ref: '#/components/schemas/item_port_type'
          nullable: true
        types:
          description: 'Raw type strings as provided by the game data'
          type: array
          items:
            type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        required_tags:
          type: array
          items:
            type: string
          nullable: true
        flags:
          description: 'Port flags from game data'
          type: array
          items:
            type: string
          nullable: true
        uneditable:
          description: 'Whether the port is locked'
          type: boolean
          nullable: true
        equipped_item_uuid:
          description: 'UUID of the equipped item'
          type: string
          nullable: true
        equipped_item:
          oneOf:
            -
              $ref: '#/components/schemas/item_link'
          nullable: true
      type: object
    item_port_type:
      title: 'Item Port Compatible Types'
      properties:
        type:
          type: string
          nullable: true
        sub_types:
          type: array
          items:
            type: string
          nullable: true
      type: object
    item_power_connection:
      title: 'Item Power Connection'
      description: 'Power connection information, generated from EntityComponentPowerConnection attributes.'
      properties:
        power_base:
          type: number
          format: double
          nullable: true
        power_draw:
          type: number
          format: double
          nullable: true
        throttleable:
          description: IsThrottleable
          type: boolean
          nullable: true
        overclockable:
          description: IsOverclockable
          type: boolean
          nullable: true
        overclock_threshold_min:
          type: number
          format: double
          nullable: true
        overclock_threshold_max:
          type: number
          format: double
          nullable: true
        overclock_performance:
          type: number
          format: double
          nullable: true
        overpower_performance:
          type: number
          format: double
          nullable: true
        power_to_em:
          type: number
          format: double
          nullable: true
        decay_rate_em:
          type: number
          format: double
          nullable: true
        em_min:
          description: 'PowerBase * PowerToEm. Use ResourceNetwork data instead.'
          type: number
          format: double
          nullable: true
        em_max:
          description: 'PowerDraw * PowerToEm. Use ResourceNetwork data instead.'
          type: number
          format: double
          nullable: true
      type: object
    game_item:
      title: Item
      description: 'An item in Star Citizen, based on EntityClassDefinition XML files.'
      properties:
        uuid:
          type: string
        name:
          type: string
        class_name:
          type: string
        classification:
          description: 'Not actually found in the game data, but generated by ScDataDumper.'
          type: string
          example: FPS.Clothing.Torso
        description:
          nullable: true
          oneOf:
            -
              type: string
            -
              type: array
              items:
                $ref: '#/components/schemas/translation'
        size:
          description: AttachDef@Size
          type: integer
          example: 1
          nullable: true
        mass:
          description: 'Generated from SEntityRigidPhysicsControllerParams'
          type: number
          format: double
          example: 1000
          nullable: true
        is_base_variant:
          type: boolean
        grade:
          type: string
          nullable: true
        class:
          type: string
          nullable: true
        description_data:
          description: 'Key Value pairs from the description, where key is data before a ":" and value is whats following'
          type: array
          items:
            $ref: '#/components/schemas/item_description_data'
          nullable: true
        manufacturer_description:
          description: 'Manufacturer set in the description'
          type: string
          nullable: true
        manufacturer:
          $ref: '#/components/schemas/manufacturer_link'
        type:
          description: AttachDef@Type
          type: string
          nullable: true
        sub_type:
          description: AttachDef@SubType
          type: string
          nullable: true
        dimension:
          $ref: '#/components/schemas/item_dimension'
        inventory:
          oneOf:
            -
              $ref: '#/components/schemas/item_inventory'
          nullable: true
        tags:
          description: AttachDef@Tags
          type: array
          items:
            type: string
          nullable: true
        required_tags:
          description: AttachDef@RequiredTags
          type: array
          items:
            type: string
          nullable: true
        entity_tags:
          description: 'Generated from EntityClassDefinition/tags'
          type: array
          items:
            type: string
          nullable: true
        entity_tag_map:
          description: 'Entity tags from the database relationship'
          type: array
          items:
            properties:
              uuid:
                type: string
              name:
                type: string
            type: object
          nullable: true
        interactions:
          description: 'Generated from SInteractionPointParams'
          type: array
          items:
            type: string
          nullable: true
        item_ports:
          type: array
          items:
            $ref: '#/components/schemas/item_port'
          nullable: true
        heat:
          oneOf:
            -
              $ref: '#/components/schemas/item_heat_connection'
          nullable: true
        power:
          oneOf:
            -
              $ref: '#/components/schemas/item_power_connection'
          nullable: true
        distortion:
          oneOf:
            -
              $ref: '#/components/schemas/item_distortion'
          nullable: true
        durability:
          oneOf:
            -
              $ref: '#/components/schemas/item_durability'
          nullable: true
        resource_container:
          oneOf:
            -
              $ref: '#/components/schemas/resource_container'
          nullable: true
        seat:
          oneOf:
            -
              $ref: '#/components/schemas/seat'
          nullable: true
        ammunition:
          oneOf:
            -
              $ref: '#/components/schemas/ammunition'
          nullable: true
        temperature_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/temperature_resistance'
          nullable: true
        radiation_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/radiation_resistance'
          nullable: true
        armor:
          oneOf:
            -
              $ref: '#/components/schemas/vehicle_armor'
          nullable: true
        cooler:
          oneOf:
            -
              $ref: '#/components/schemas/cooler'
          nullable: true
        flight_controller:
          oneOf:
            -
              $ref: '#/components/schemas/flight_controller'
          nullable: true
        fuel_tank:
          oneOf:
            -
              $ref: '#/components/schemas/fuel_tank'
          nullable: true
        hacking_chip:
          oneOf:
            -
              $ref: '#/components/schemas/hacking_chip'
          nullable: true
        mining_laser:
          oneOf:
            -
              $ref: '#/components/schemas/mining_laser'
          nullable: true
        mining_module:
          oneOf:
            -
              $ref: '#/components/schemas/mining_module'
          nullable: true
        quantum_drive:
          oneOf:
            -
              $ref: '#/components/schemas/quantum_drive'
          nullable: true
        quantum_interdiction_generator:
          oneOf:
            -
              $ref: '#/components/schemas/quantum_interdiction_generator'
          nullable: true
        self_destruct:
          oneOf:
            -
              $ref: '#/components/schemas/self_destruct'
          nullable: true
        shield:
          oneOf:
            -
              $ref: '#/components/schemas/shield'
          nullable: true
        resource_network:
          oneOf:
            -
              $ref: '#/components/schemas/resource_network'
          nullable: true
        thruster:
          oneOf:
            -
              $ref: '#/components/schemas/thruster'
          nullable: true
        clothing:
          oneOf:
            -
              $ref: '#/components/schemas/clothing'
          nullable: true
        character_armor:
          oneOf:
            -
              $ref: '#/components/schemas/character_armor'
          nullable: true
        suit_armor:
          oneOf:
            -
              $ref: '#/components/schemas/character_armor'
          nullable: true
          deprecated: true
        bomb:
          oneOf:
            -
              $ref: '#/components/schemas/bomb'
          nullable: true
        missile:
          oneOf:
            -
              $ref: '#/components/schemas/missile'
          nullable: true
        emp:
          oneOf:
            -
              $ref: '#/components/schemas/emp'
          nullable: true
        personal_weapon:
          oneOf:
            -
              $ref: '#/components/schemas/personal_weapon'
          nullable: true
        melee_weapon:
          oneOf:
            -
              $ref: '#/components/schemas/melee_weapon'
          nullable: true
        grenade:
          oneOf:
            -
              $ref: '#/components/schemas/grenade'
          nullable: true
        knife:
          oneOf:
            -
              $ref: '#/components/schemas/melee_weapon'
          nullable: true
          deprecated: true
        barrel_attach:
          oneOf:
            -
              $ref: '#/components/schemas/barrel_attachment'
          nullable: true
        weapon_modifier:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_modifier'
          nullable: true
        iron_sight:
          oneOf:
            -
              $ref: '#/components/schemas/iron_sight'
          nullable: true
          description: 'Deprecated: Use weapon_modifiers instead.'
          deprecated: true
        salvage_modifier:
          oneOf:
            -
              $ref: '#/components/schemas/salvage_modifier'
          nullable: true
          description: 'Deprecated: Use weapon_modifiers instead.'
          deprecated: true
        base_variant:
          oneOf:
            -
              $ref: '#/components/schemas/item_link'
          nullable: true
        variants:
          type: array
          items:
            $ref: '#/components/schemas/item_link'
          nullable: true
        updated_at:
          description: 'Date time this item was updated in the database'
          type: string
          format: date-time
        version:
          description: 'Game version code'
          type: string
          example: 4.4.0-LIVE.12340123
      type: object
    item_related_link:
      title: 'Related Item Link'
      description: 'Minimal link information for a related item'
      properties:
        uuid:
          type: string
        name:
          type: string
        variant_name:
          type: string
          nullable: true
        link:
          type: string
      type: object
    item_related_link_ext:
      title: 'Related Item Link (Extended)'
      description: 'Related item link with basic classification'
      allOf:
        -
          $ref: '#/components/schemas/item_related_link'
        -
          properties:
            type:
              type: string
              nullable: true
            sub_type:
              type: string
              nullable: true
          type: object
    item_related_items:
      title: 'Related Items'
      description: 'Aggregated related information for base/variants and set items'
      properties:
        set_name:
          type: string
          nullable: true
        base_item:
          oneOf:
            -
              $ref: '#/components/schemas/item_related_link'
          nullable: true
        variant_items:
          type: array
          items:
            $ref: '#/components/schemas/item_related_link'
          nullable: true
        set_items:
          type: array
          items:
            $ref: '#/components/schemas/item_related_link_ext'
          nullable: true
      type: object
    resource_container:
      title: 'Resource Container'
      description: 'Container data for items that can hold resources (e.g. cargo or consumables).'
      properties:
        mass:
          type: number
          format: double
          nullable: true
        immutable:
          type: boolean
          nullable: true
        default_fill_fraction:
          description: 'Initial fill fraction (0-1).'
          type: number
          format: double
          nullable: true
        capacity:
          properties:
            value:
              type: number
              format: double
              nullable: true
            unit:
              type: string
              nullable: true
            unit_name:
              type: string
              nullable: true
            scu:
              type: number
              format: double
              nullable: true
          type: object
          nullable: true
        inclusive_resources:
          description: 'UUIDs of resources allowed in this container.'
          type: array
          items:
            type: string
          nullable: true
        default_composition:
          description: 'Default composition entries and weights.'
          type: array
          items:
            properties:
              entry:
                type: string
                nullable: true
              weight:
                type: number
                format: double
                nullable: true
            type: object
          nullable: true
      type: object
    resource_network_delta:
      title: 'Resource Network Delta'
      description: 'Single resource change entry applied when a network state is active.'
      properties:
        type:
          description: 'Delta type (Consumption, Generation, Conversion, Storage, NetworkReflection).'
          type: string
          example: Consumption
          nullable: true
        resource:
          description: 'Target resource affected (Power, Fuel, Coolant, QuantumFuel, Shield, LifeSupport).'
          type: string
          example: Power
          nullable: true
        rate:
          description: 'Rate applied per tick (game native units). Typical power draw ~2–5; fuel draw often 0.01.'
          type: number
          format: double
          example: 2.2
          nullable: true
        minimum_fraction:
          description: 'Minimum fraction of the resource that must be available before the delta applies.'
          type: number
          format: double
          example: 0.25
          nullable: true
        generated_resource:
          description: 'Resource produced by conversion/storage deltas.'
          type: string
          example: Coolant
          nullable: true
        generated_rate:
          description: 'Rate of the generated resource.'
          type: number
          format: double
          example: 22
          nullable: true
        discharge:
          description: 'Whether stored resource is discharged (0/1 flag).'
          type: number
          format: double
          example: 0
          nullable: true
        no_over_generation:
          description: 'Prevents generating above capacity (0/1 flag).'
          type: number
          format: double
          example: 0
          nullable: true
        binary_evaluation:
          description: 'Binary reflection value for NetworkReflection deltas.'
          type: number
          format: double
          example: 1
          nullable: true
        composition:
          description: 'Optional composition entries describing how generated resource is assembled.'
          type: array
          items:
            properties:
              container_resource:
                type: string
                example: bcc8cde9-de58-4e6b-8ee9-37d4aaa507eb
                nullable: true
              ratio:
                type: number
                format: double
                example: 1
                nullable: true
            type: object
          nullable: true
      type: object
    resource_network_state:
      title: 'Resource Network State'
      description: 'Named state in the resource network with its signature and deltas.'
      properties:
        name:
          description: 'State name (e.g. Online). Can be empty on some items.'
          type: string
          example: Online
          nullable: true
        signature:
          description: 'Electromagnetic/infrared signature while in this state.'
          properties:
            em:
              type: number
              format: double
              example: 1490
              nullable: true
            ir:
              type: number
              format: double
              example: 7260
              nullable: true
          type: object
          nullable: true
        deltas:
          type: array
          items:
            $ref: '#/components/schemas/resource_network_delta'
          nullable: true
      type: object
    resource_network:
      title: 'Resource Network'
      description: 'Networked resource behaviour for an item, including power/fuel consumption, generation, and priority.'
      properties:
        is_networked:
          description: 'Whether the item participates in the ship/station resource network.'
          type: boolean
          example: true
          nullable: true
        is_relay:
          description: 'True when the item acts as a relay node.'
          type: boolean
          example: false
          nullable: true
        default_priority:
          description: 'Processing priority within the network (higher runs earlier). Commonly 50; fuel tanks use 100.'
          type: integer
          example: 50
          nullable: true
        states:
          description: 'List of available network states and their resource deltas.'
          type: array
          items:
            $ref: '#/components/schemas/resource_network_state'
          nullable: true
      type: object
    ammunition_damage_falloff:
      title: 'Ammunition Damage Falloff (v2)'
      description: 'Legacy damage falloff entry grouped by type. Deprecated in favour of the damage_drop_* fields.'
      properties:
        Physical:
          type: number
          format: double
          nullable: true
        Energy:
          type: number
          format: double
          nullable: true
        Distortion:
          type: number
          format: double
          nullable: true
        Thermal:
          type: number
          format: double
          nullable: true
        Biochemical:
          type: number
          format: double
          nullable: true
        Stun:
          type: number
          format: double
          nullable: true
      type: object
      deprecated: true
    ammunition:
      title: Ammunition
      description: 'Projectile behaviour and damage data from Item.stdItem.Ammunition. Values are taken directly from game data without simulation or derived calculations.'
      properties:
        speed:
          description: 'Projectile speed in m/s.'
          type: number
          format: double
          example: 600
          nullable: true
        lifetime:
          description: 'Lifetime in seconds before the projectile despawns.'
          type: number
          format: double
          example: 2
          nullable: true
        range:
          description: 'Effective range in meters (speed × lifetime when provided by the game).'
          type: number
          format: double
          example: 1200
          nullable: true
        size:
          description: 'Projectile size used by the game for collision/damage logic.'
          type: integer
          example: 1
          nullable: true
        capacity:
          description: 'Maximum ammo or charge stored in the weapon battery/magazine for this ammo definition.'
          type: integer
          example: 80
          nullable: true
        initial_capacity:
          description: 'Starting ammo or charge loaded when the item spawns.'
          type: integer
          example: 80
          nullable: true
        damage_falloff_level_1:
          description: 'Legacy piercability falloff level 1 value.'
          type: number
          format: double
          example: 0
          nullable: true
        damage_falloff_level_2:
          description: 'Legacy piercability falloff level 2 value.'
          type: number
          format: double
          example: 0
          nullable: true
        damage_falloff_level_3:
          description: 'Legacy piercability falloff level 3 value.'
          type: number
          format: double
          example: 0
          nullable: true
        max_penetration_thickness:
          description: 'Maximum armor or material thickness (m) this round can pierce.'
          type: number
          format: double
          example: 0.5
          nullable: true
        penetration:
          description: 'Penetration behaviour detailing distance and angle effectiveness.'
          properties:
            base_penetration_distance:
              type: number
              format: double
              example: 60
              nullable: true
            angle:
              description: 'Maximum impact angle (degrees) before ricochet/stop.'
              type: number
              format: double
              example: 14.6
              nullable: true
          type: object
          nullable: true
        impact_damage:
          description: 'Direct hit damage per projectile, split by damage type. Zero values are omitted.'
          type: array
          items:
            $ref: '#/components/schemas/weapon_damage_entry'
          nullable: true
        detonation_damage:
          description: 'Explosion damage applied on detonation-capable projectiles.'
          type: array
          items:
            $ref: '#/components/schemas/weapon_damage_entry'
          nullable: true
        impulse_scale:
          description: 'Impulse multiplier applied on impact (engine value).'
          type: number
          format: double
          example: 1
          nullable: true
        bullet_type:
          description: 'Internal bullet type identifier.'
          type: integer
          example: -1
          nullable: true
        damage_drop_min_distance:
          description: 'Per-type distance (m) before damage falloff begins.'
          properties:
            Physical:
              type: number
              format: double
              example: 0
              nullable: true
            Energy:
              type: number
              format: double
              example: 200
              nullable: true
            Distortion:
              type: number
              format: double
              example: 200
              nullable: true
            Thermal:
              type: number
              format: double
              example: 0
              nullable: true
            Biochemical:
              type: number
              format: double
              example: 0
              nullable: true
            Stun:
              type: number
              format: double
              example: 200
              nullable: true
          type: object
          nullable: true
        damage_drop_per_meter:
          description: 'Per-type damage reduction applied each meter after min distance.'
          properties:
            Physical:
              type: number
              format: double
              example: 0
              nullable: true
            Energy:
              type: number
              format: double
              example: 0.01
              nullable: true
            Distortion:
              type: number
              format: double
              example: 0.01
              nullable: true
            Thermal:
              type: number
              format: double
              example: 0
              nullable: true
            Biochemical:
              type: number
              format: double
              example: 0
              nullable: true
            Stun:
              type: number
              format: double
              example: 0.01
              nullable: true
          type: object
          nullable: true
        damage_drop_min_damage:
          description: 'Floor values for damage after falloff.'
          properties:
            Physical:
              type: number
              format: double
              example: 10
              nullable: true
            Energy:
              type: number
              format: double
              example: 10
              nullable: true
            Distortion:
              type: number
              format: double
              example: 5
              nullable: true
            Thermal:
              type: number
              format: double
              example: 0
              nullable: true
            Biochemical:
              type: number
              format: double
              example: 0
              nullable: true
            Stun:
              type: number
              format: double
              example: 6
              nullable: true
          type: object
          nullable: true
        bullet_impulse_falloff:
          description: 'Impact impulse falloff parameters.'
          properties:
            MinDistance:
              type: number
              format: double
              example: 0
              nullable: true
            DropFalloff:
              type: number
              format: double
              example: 0.005
              nullable: true
            MaxFalloff:
              type: number
              format: double
              example: 0.3
              nullable: true
          type: object
          nullable: true
        bullet_electron:
          description: 'Electron chain parameters for weapons that jump between targets.'
          properties:
            JumpRange:
              type: number
              format: double
              example: 0
              nullable: true
            MaximumJumps:
              type: integer
              example: 0
              nullable: true
            ResidualChargeMultiplier:
              type: number
              format: double
              example: 0
              nullable: true
          type: object
          nullable: true
        damage_falloffs:
          description: 'Legacy grouping of damage drop data.'
          properties:
            min_distance:
              oneOf:
                -
                  $ref: '#/components/schemas/ammunition_damage_falloff'
              nullable: true
            per_meter:
              oneOf:
                -
                  $ref: '#/components/schemas/ammunition_damage_falloff'
              nullable: true
            min_damage:
              oneOf:
                -
                  $ref: '#/components/schemas/ammunition_damage_falloff'
              nullable: true
          type: object
          nullable: true
          deprecated: true
        piercability:
          description: 'Deprecated: retained for v2 compatibility; maps to damage_falloff_level_* and max_penetration_thickness when present.'
          type: object
          nullable: true
          deprecated: true
      type: object
    vehicle_armor:
      title: 'Vehicle Armor'
      description: 'Armor characteristics for ship and vehicle hull plating. Signal multipliers affect detectability (values < 1.0 reduce signature for stealth, > 1.0 increase signature). Damage multipliers determine resistance to damage types (lower values = more resistant).'
      properties:
        signal_infrared:
          description: 'Infrared signature multiplier. Lower values make the ship harder to detect via heat signature.'
          type: number
          format: double
          example: 1
          nullable: true
        signal_electromagnetic:
          description: 'Electromagnetic signature multiplier. Lower values provide better EM stealth.'
          type: number
          format: double
          example: 1
          nullable: true
        signal_cross_section:
          description: 'Radar cross-section multiplier. Affects radar detectability.'
          type: number
          format: double
          example: 1
          nullable: true
        damage_physical:
          description: 'Physical damage multiplier. Typically 0.62, providing 38% damage reduction.'
          type: number
          format: double
          example: 0.62
          nullable: true
        damage_energy:
          description: 'Energy weapon damage multiplier. Values around 1.0 are neutral.'
          type: number
          format: double
          example: 1
          nullable: true
        damage_distortion:
          description: 'Distortion damage multiplier. Typically around 1.0.'
          type: number
          format: double
          example: 1
          nullable: true
        damage_thermal:
          description: 'Thermal damage multiplier. Typically 1.0 (neutral, no resistance).'
          type: number
          format: double
          example: 1
          nullable: true
        damage_biochemical:
          description: 'Biochemical damage multiplier. Typically 1.0 (neutral, no resistance).'
          type: number
          format: double
          example: 1
          nullable: true
        damage_stun:
          description: 'Stun damage multiplier. Typically 0 (complete immunity to stun).'
          type: number
          format: double
          example: 0
          nullable: true
      type: object
    barrel_attachment:
      title: 'Barrel Attachment'
      description: 'Barrel attachments such as suppressors, compensators and flash hiders sourced from Item.stdItem.WeaponAttachment.'
      properties:
        attachment_point:
          type: string
          example: Barrel
          nullable: true
        type:
          description: 'Use "attachment_point".'
          type: string
          nullable: true
          deprecated: true
      type: object
    bomb:
      title: Bomb
      description: 'Explosive bomb specifications including timing, blast radius, and damage characteristics. Bomb properties scale with size class (S3/S5/S10).'
      properties:
        arm_time:
          description: 'Time in seconds after release before the bomb is armed and can detonate. Scales with bomb size (0.5s for S3, 5.0s for S10).'
          type: number
          format: double
          example: 3
          nullable: true
        ignite_time:
          description: 'Time in seconds between arming and detonation.'
          type: number
          format: double
          example: 0.2
          nullable: true
        collision_delay_time:
          description: 'Delay in seconds before collision detection becomes active after release.'
          type: number
          format: double
          example: 0.5
          nullable: true
        explosion_safety_distance:
          description: 'Minimum safe distance in meters from the explosion. Typically 50m for all bomb sizes.'
          type: number
          format: double
          example: 50
          nullable: true
        explosion_radius_min:
          description: 'Minimum explosion radius in meters. Scales with bomb size (40m for S3, 100m for S5, 250m for S10).'
          type: number
          format: double
          example: 100
          nullable: true
        explosion_radius_max:
          description: 'Maximum explosion radius in meters. Typically equal to minimum radius for uniform blast.'
          type: number
          format: double
          example: 100
          nullable: true
        maximum_drop_angle:
          description: 'Maximum angle in degrees from level flight at which the bomb can be deployed. Typically 90 degrees.'
          type: number
          format: double
          example: 90
          nullable: true
        is_cluster:
          description: 'Whether this bomb splits into multiple submunitions. Currently all bombs are single-warhead (false).'
          type: boolean
          example: false
          nullable: true
        damage:
          description: 'V2 compatibility: Total combined damage from all damage types.'
          type: number
          format: double
          example: 46702
          nullable: true
          deprecated: true
        damage_total:
          description: 'Total combined damage from all damage types. Scales dramatically with bomb size (27,000 for S3, 568,297 for S10).'
          type: number
          format: double
          example: 46702
          nullable: true
        damages:
          description: 'Array of individual damage components by type. Bombs typically deal Physical and Energy damage only.'
          type: array
          items:
            $ref: '#/components/schemas/weapon_damage'
          nullable: true
      type: object
    cargo_grid:
      title: 'Cargo Grid'
      description: 'Cargo grid dimensions derived from inventory container data.'
      properties:
        x:
          type: number
          format: double
          nullable: true
        'y':
          type: number
          format: double
          nullable: true
        z:
          type: number
          format: double
          nullable: true
      type: object
    character_armor:
      title: 'Character Armor'
      description: 'Protective characteristics of FPS armor pieces (helmets, cores, arms, legs). Generated from SuitArmor data in Item.stdItem.'
      properties:
        slot:
          description: 'Armor slot derived from the item classification (e.g. Arms, Core, Legs, Helmet).'
          type: string
          example: Arms
          nullable: true
        armor_type:
          description: 'Legacy armor type field, same as slot.'
          type: string
          example: Arms
          nullable: true
          deprecated: true
        damage_resistance:
          properties:
            impact:
              type: number
              format: double
              example: 0.6925
              nullable: true
            physical:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.7
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
            energy:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.7
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
            distortion:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.7
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
            thermal:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.7
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
            biochemical:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.7
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
            stun:
              properties:
                multiplier:
                  type: number
                  format: double
                  example: 0.55
                  nullable: true
                threshold:
                  type: number
                  format: double
                  example: 0
                  nullable: true
              type: object
              nullable: true
          type: object
          nullable: true
        protected_body_parts:
          description: 'UUIDs of body parts covered by this armor.'
          type: array
          items:
            type: string
          example:
            - b6d0be4f-bbdd-4a47-a168-8c9c9293c63a
            - e9c7c16d-d408-41c1-8d13-eec69cd2a013
          nullable: true
        signature:
          description: 'Signature emissions produced by the armor.'
          type: array
          items:
            properties:
              type:
                type: string
                example: Electromagnetic
                nullable: true
              emission:
                type: number
                format: double
                example: 5
                nullable: true
            type: object
          nullable: true
        temperature_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/temperature_resistance'
          nullable: true
          description: 'Temperature protection range from TemperatureResistance.'
          example:
            minimum: -56
            maximum: 86
        radiation_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/radiation_resistance'
          nullable: true
          description: 'Radiation protection values from RadiationResistance.'
          example:
            maximum_radiation_capacity: 26400
            radiation_dissipation_rate: 145.8
      type: object
    clothing:
      title: Clothing
      description: 'Wearable clothing like shirts, pants, gloves, etc., little to no damage reduction capabilities. Generated from SCItemClothingParams.'
      properties:
        clothing_type:
          description: 'Property is set if resource is of type "clothing". Superseded by type.'
          type: string
          nullable: true
          deprecated: true
        slot:
          description: 'Clothing slot derived from the item classification (e.g. Torso, Legs, Arms, Head).'
          type: string
          example: Torso
          nullable: true
        type:
          description: 'Clothing type, not actually set in the game data but derived from the item name.'
          type: string
          example: T-Shirt
          nullable: true
        temp_resistance_min:
          description: 'The minimum temperature this resource protects against. Value from TemperatureResistance->Minimum.'
          type: number
          format: double
          example: 2
          nullable: true
          deprecated: true
        temp_resistance_max:
          description: 'The maximum temperature this resource protects against. Value from TemperatureResistance->Maximum.'
          type: number
          format: double
          example: 10
          nullable: true
          deprecated: true
        temperature_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/temperature_resistance'
          nullable: true
          example:
            minimum: 2
            maximum: 32
        radiation_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/radiation_resistance'
          nullable: true
          example:
            maximum_radiation_capacity: 0
            radiation_dissipation_rate: 0
      type: object
    cooler:
      title: Cooler
      description: 'Ship cooler characteristics describing heat dissipation capacity and signature suppression factors.'
      properties:
        cooling_rate:
          description: 'Maximum heat removal capacity (heat units per second). Higher numbers indicate stronger cooling performance. Size 1 military coolers like the Aegis Glacier are around 290,000 while heavy industrial units reach into the tens of millions.'
          type: number
          format: double
          example: 4080000
          nullable: true
        suppression_ir_factor:
          description: 'Infrared signature multiplier applied while the cooler is operating. Values below 1.0 lower IR output; most production coolers use 0.1 (90% reduction).'
          type: number
          format: double
          example: 0.1
          nullable: true
        suppression_heat_factor:
          description: 'Overall heat signature multiplier contributed by the cooler. Commonly 0.1, indicating a significant reduction in emitted heat.'
          type: number
          format: double
          example: 0.1
          nullable: true
      type: object
    counter_measure:
      title: 'Counter Measure'
      description: 'Counter measure launcher ammo capacity values derived from stdItem.Ammunition or raw ammo container data.'
      properties:
        initial_ammo_count:
          type: integer
          nullable: true
        max_ammo_count:
          type: integer
          nullable: true
      type: object
    emp:
      title: 'EMP Generator'
      description: 'Electromagnetic pulse generator stats pulled from Item.stdItem.Emp. Values scale with generator size (S1–S4) and determine how quickly the device charges, how hard it hits shields via distortion, and how far the blast reaches.'
      properties:
        charge_time:
          description: 'Seconds required to fully charge before firing. Current game data ranges 12–26 seconds across EMP sizes.'
          type: number
          format: double
          example: 12
          nullable: true
        unleash_time:
          description: 'Duration in seconds the pulse is actively released after charging completes. Values are either 0.75s (small) or 1.5s (large).'
          type: number
          format: double
          example: 0.75
          nullable: true
        cooldown_time:
          description: 'Cooldown in seconds before charging can restart. Current data spans 6–40 seconds depending on size and variant.'
          type: number
          format: double
          example: 6
          nullable: true
        distortion_damage:
          description: 'Peak distortion damage applied at the center of the blast. Observed values: 1000 (S1), 1800–2475 (S2–S3), 2750–3300 (S4 variants).'
          type: number
          format: double
          example: 1000
          nullable: true
        emp_radius:
          description: 'Maximum effective distortion radius in meters. Current items range from 400m (S1) up to 1100m (large ship EMPs).'
          type: number
          format: double
          example: 400
          nullable: true
        min_emp_radius:
          description: 'Inner radius (m) guaranteed to receive full EMP effect before falloff begins. Presently 150m–250m.'
          type: number
          format: double
          example: 150
          nullable: true
        charge_duration:
          description: 'Deprecated: use charge_time. Kept for backward compatibility with v2 naming.'
          type: number
          format: double
          example: 12
          nullable: true
          deprecated: true
        unleash_duration:
          description: 'Deprecated: use unleash_time. Kept for backward compatibility with v2 naming.'
          type: number
          format: double
          example: 0.75
          nullable: true
          deprecated: true
        cooldown_duration:
          description: 'Deprecated: use cooldown_time. Kept for backward compatibility with v2 naming.'
          type: number
          format: double
          example: 6
          nullable: true
          deprecated: true
      type: object
    flight_controller:
      title: 'Flight Controller'
      description: 'IFCS (flight controller) performance data sourced from in-game item files. Includes SCM and boost speeds, precision mode caps, torque balancing thresholds, flight model multipliers, and afterburner capacitor behaviour.'
      properties:
        scm_speed:
          description: 'Space Combat Maneuvering (cruise) speed in meters per second. Most size 1 controllers fall in the 200–230 m/s range.'
          type: number
          format: double
          example: 227
          nullable: true
        boost_speed_forward:
          description: 'Forward boost speed cap in m/s. Typical civilian S1 controllers are around 450–500.'
          type: number
          format: double
          example: 470
          nullable: true
        boost_speed_backward:
          description: 'Reverse boost speed cap in m/s; lower than forward boost (usually ~50% of forward).'
          type: number
          format: double
          example: 240
          nullable: true
        max_speed:
          description: 'Absolute flight envelope speed cap in m/s outside of precision/IFCS constraints.'
          type: number
          format: double
          example: 1230
          nullable: true
        max_speed_precision_mode_full_proximity_assist:
          description: 'Precision mode max speed (m/s) with full proximity assist enabled; typically 10 m/s for landing.'
          type: number
          format: double
          example: 10
          nullable: true
        max_speed_precision_mode_zero_proximity_assist:
          description: 'Precision mode max speed (m/s) when proximity assist is disabled; commonly 30 m/s.'
          type: number
          format: double
          example: 30
          nullable: true
        torque_distance_threshold:
          description: 'Distance threshold in meters before torque imbalance compensation engages. Negative values disable the check.'
          type: number
          format: double
          example: 0.5
          nullable: true
        torque_imbalance_multiplier:
          description: 'Multiplier applied when torque imbalance is detected to stabilize rotation.'
          type: number
          format: double
          example: 0.3
          nullable: true
        refresh_caches_on_landing_mode:
[...]
