openapi: 3.0.0
info:
  title: 'Star Citizen API'
  contact:
    email: foxftw@star-citizen.wiki
  version: 3.0.0
servers:
  -
    url: 'https://api.star-citizen.wiki'
paths:
  /api/game-versions:
    get:
      tags:
        - In-Game
        - 'Game Version'
      summary: 'List imported Game Versions'
      description: 'Returns paginated game versions with optional filtering and sorting.'
      operationId: d50197240879fbad3c30053885d65b9c
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[code]'
          in: query
          description: 'Filter by exact version code (e.g., 3.24.1-LIVE)'
          schema:
            type: string
        -
          name: 'filter[channel]'
          in: query
          description: 'Filter by channel (live, ptu, eptu)'
          schema:
            type: string
        -
          name: 'filter[is_default]'
          in: query
          description: 'Filter by default status (1 or 0)'
          schema:
            type: integer
        -
          name: sort
          in: query
          description: 'Sort by field (prefix with - for descending). Available: code, channel, released_at'
          schema:
            type: string
            example: '-released_at'
      responses:
        '200':
          description: 'List of Game Versions'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_version'
  /api/game-versions/default:
    get:
      tags:
        - In-Game
        - 'Game Version'
      summary: 'Get Default Game Version'
      description: 'Returns the default game version (where is_default = true).'
      operationId: 4264185b623abd31430cebd231e316d8
      responses:
        '200':
          description: 'The default game version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/game_version'
        '404':
          description: 'No default version found'
  /api/items:
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Overview'
      description: 'Returns paginated in-game items for the requested category and version with optional filters/includes.'
      operationId: caa5b59cdee8fe4be0e7aba773065367
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Supports 250+ JSON fields. Examples: name, -grade, weapon.damage.alpha_total, -shield_controller.face_type. Use comma for multiple: grade,-name'
          schema:
            type: string
            example: '-weapon.damage.alpha_total'
        -
          name: 'filter[variants]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Items'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_item'
  '/api/items/{identifier}':
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Detail'
      description: 'Retrieve a specific item by name or UUID with metadata and includes.'
      operationId: cc74abcb9fb80ecbe534d6aea93df75c
      parameters:
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Item name or UUID'
            type: string
      responses:
        '200':
          description: 'An Item'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/game_item'
  /api/items/search:
    post:
      tags:
        - In-Game
        - Items
        - Search
      summary: 'In-Game Item Search (Deprecated)'
      description: 'Deprecated. Use GET /api/items?filter[name]={value} for name search. Note: OR search across name/uuid/type is no longer supported. This endpoint will be removed in a future version.'
      operationId: 67e81b3a53d62afe9d3d713e391d6d05
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/locale'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[variants]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          schema:
            type: string
      requestBody:
        description: 'Item Name or (sub)type'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Arrow"}'
      responses:
        '200':
          description: 'A List of matching Items'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_item'
      deprecated: true
  /api/items/filters:
    get:
      tags:
        - In-Game
        - Items
      summary: 'In-Game Item Filters'
      description: 'Return all available filter values for in-game items, grouped by field.'
      operationId: 8cd032a0b4591c3e203c00e9e5779194
      parameters:
        -
          $ref: '#/components/parameters/version'
        -
          name: 'filter[variants]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[sub_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[classification]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: 'filter[grade]'
          in: query
          schema:
            type: number
        -
          name: 'filter[class]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Available filters for in-game items.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, sub_type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, classification: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, grade: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, class: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/manufacturers:
    get:
      tags:
        - In-Game
        - Manufacturers
      summary: 'In-Game Manufacturers Overview'
      description: 'Returns paginated manufacturers grouped by name with optional pagination.'
      operationId: 1f9d905a5e89dba1162f35428b92847c
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on manufacturer name'
          schema:
            type: string
      responses:
        '200':
          description: 'List of Manufacturers'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/manufacturer_link'
  '/api/manufacturers/{manufacturer}':
    get:
      tags:
        - In-Game
        - Manufacturers
      summary: 'In-Game Manufacturer Detail'
      description: 'Retrieve a manufacturer by name, UUID, or code together with its products.'
      operationId: cba9b0f51268f6c1d4309aa573d37a9c
      parameters:
        -
          name: manufacturer
          in: path
          required: true
          schema:
            description: 'Manufacturer name, uuid, or code'
            type: string
      responses:
        '200':
          description: 'A Manufacturer and its products'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manufacturer'
  /api/manufacturers/search:
    post:
      tags:
        - In-Game
        - Manufacturers
        - Search
      summary: 'In-Game Manufacturer Search (Deprecated)'
      description: 'Deprecated. Use GET /api/manufacturers?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: 26ff6a6dbd3785225cf297e83cc1b306
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Manufacturer name, uuid, or code'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Anvil"}'
      responses:
        '200':
          description: 'A List of matching Manufacturers'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/manufacturer_link'
      deprecated: true
  /api/vehicles:
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicles Overview'
      description: 'Returns paginated in-game vehicles for the requested version and vehicle type with optional filters.'
      operationId: 64acf0fa3be1afd1fa9ee22c03f755bc
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
        -
          name: sort
          in: query
          description: 'Sort field. Prefix with "-" for descending. Examples: name, -size, cargo_capacity, -speed.scm, shield.face_type. Use comma for multiple: size,-cargo_capacity'
          schema:
            type: string
            example: '-cargo_capacity'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[size_class]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[career]'
          in: query
          schema:
            type: string
        -
          name: 'filter[role]'
          in: query
          schema:
            type: string
        -
          name: 'filter[is_vehicle]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_gravlev]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_spaceship]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[mass_total]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cargo_capacity]'
          in: query
          schema:
            type: number
        -
          name: 'filter[vehicle_inventory]'
          in: query
          schema:
            type: number
        -
          name: 'filter[crew.min]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[health]'
          in: query
          schema:
            type: number
        -
          name: 'filter[shield.hp]'
          in: query
          schema:
            type: number
        -
          name: 'filter[shield.face_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[speed.scm]'
          in: query
          schema:
            type: number
        -
          name: 'filter[speed.max]'
          in: query
          schema:
            type: number
        -
          name: 'filter[armor.health]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.length]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.width]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.height]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.ir_quantum]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.ir_shields]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.em_quantum]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.em_shields]'
          in: query
          schema:
            type: number
      responses:
        '200':
          description: 'List of Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_vehicle'
  '/api/vehicles/{identifier}':
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicle Detail'
      description: 'Retrieve a vehicle by name, class name, or UUID along with requested includes.'
      operationId: 7bbede0623fe40dc123a58b51718a2c8
      parameters:
        -
          name: identifier
          in: path
          required: true
          schema:
            description: 'Vehicle name, class_name, or UUID'
            type: string
        -
          $ref: '#/components/parameters/include'
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'A Vehicle'
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/game_vehicle' }
                  - { $ref: '#/components/schemas/ship_matrix_vehicle' }
  /api/vehicles/search:
    post:
      tags:
        - In-Game
        - Vehicles
        - Search
      summary: 'In-Game Vehicle Search (Deprecated)'
      description: 'Deprecated. Use GET /api/vehicles?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: e50aec74b72796ff0e51ce4bf5bf3a9e
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/sort'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[manufacturer.name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[class_name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[size_class]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[career]'
          in: query
          schema:
            type: string
        -
          name: 'filter[role]'
          in: query
          schema:
            type: string
        -
          name: 'filter[is_vehicle]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_gravlev]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[is_spaceship]'
          in: query
          schema:
            type: boolean
        -
          name: 'filter[mass_total]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cargo_capacity]'
          in: query
          schema:
            type: number
        -
          name: 'filter[vehicle_inventory]'
          in: query
          schema:
            type: number
        -
          name: 'filter[crew.min]'
          in: query
          schema:
            type: integer
        -
          name: 'filter[health]'
          in: query
          schema:
            type: number
        -
          name: 'filter[shield.hp]'
          in: query
          schema:
            type: number
        -
          name: 'filter[shield.face_type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[speed.scm]'
          in: query
          schema:
            type: number
        -
          name: 'filter[speed.max]'
          in: query
          schema:
            type: number
        -
          name: 'filter[armor.health]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.length]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.width]'
          in: query
          schema:
            type: number
        -
          name: 'filter[cross_section.height]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.ir_quantum]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.ir_shields]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.em_quantum]'
          in: query
          schema:
            type: number
        -
          name: 'filter[signature.em_shields]'
          in: query
          schema:
            type: number
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by Ship-Matrix focus slug'
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by Ship-Matrix type slug'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by Ship-Matrix production status slug'
          schema:
            type: string
      requestBody:
        description: 'Vehicle name, class_name, career, or UUID'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Avenger"}'
      responses:
        '200':
          description: 'A List of matching Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/game_vehicle'
      deprecated: true
  /api/vehicles/filters:
    get:
      tags:
        - In-Game
        - Vehicles
      summary: 'In-Game Vehicle Filters'
      description: 'Return all available filter values for in-game vehicles.'
      operationId: 57e041d605c3ed0ffabeccf150c51a5e
      parameters:
        -
          $ref: '#/components/parameters/version'
      responses:
        '200':
          description: 'Available filters for in-game vehicles.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_vehicle: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_gravlev: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, is_spaceship: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, role: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, career: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/comm-links:
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Links Overview'
      description: 'Returns paginated comm-links with optional includes, categories, series, and channel filters.'
      operationId: 2204c384d22cb7168f6dd5830328c4dd
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          $ref: '#/components/parameters/comm_link_includes'
        -
          name: 'filter[id]'
          in: query
          description: 'Filter by comm-link ID'
          schema:
            type: string
        -
          name: 'filter[title]'
          in: query
          description: 'Filter by partial comm-link title'
          schema:
            type: string
        -
          name: 'filter[channel]'
          in: query
          description: 'Filter by channel name'
          schema:
            type: string
        -
          name: 'filter[series]'
          in: query
          description: 'Filter by series name'
          schema:
            type: string
        -
          name: 'filter[category]'
          in: query
          description: 'Filter by category name'
          schema:
            type: string
        -
          name: 'filter[created_at]'
          in: query
          description: 'Filter by publication year (YYYY) or date (YYYY-MM-DD).'
          schema:
            type: string
        -
          name: sort
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Comm-Links'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link'
  /api/comm-links/filters:
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Filters'
      description: 'Return all available filter values for Comm-Links.'
      operationId: 022b883a0bc1e7ae8691f000cb019a02
      responses:
        '200':
          description: 'Available filters for Comm-Links.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { category: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, channel: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, series: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/comm-links/{id}':
    get:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Detail'
      description: 'Retrieve a single comm-link by ID with the requested related resources.'
      operationId: 0f21f5e85cfa4d0fe0076f0d4a0d0ffd
      parameters:
        -
          $ref: '#/components/parameters/comm_link_includes'
        -
          name: id
          in: path
          required: true
          schema:
            description: 'Comm-Link ID, starting from 12663'
            type: integer
            format: int64
            minimum: 12663
      responses:
        '200':
          description: 'A singular Comm-Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comm_link'
        '404':
          description: 'No Comm-Link with specified ID found.'
  /api/comm-links/search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
      summary: 'Comm-Link Search (Deprecated)'
      description: 'Deprecated. Use GET /api/comm-links?filter[title]={value} for title search. This endpoint will be removed in a future version.'
      operationId: 2efd50e02ba871c509078dcf08701557
      parameters:
        -
          $ref: '#/components/parameters/locale'
      requestBody:
        description: '(Partial) Comm-Link Title or ID'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Banu Merchantman"}'
      responses:
        '200':
          description: 'A singular Comm-Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comm_link'
      deprecated: true
  /api/comm-links/reverse-image-link-search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Link Search'
      description: 'Return comm-links that reference the same RSI-hosted image URL.'
      operationId: ae85fe68648858545fbb25b4733dcea8
      requestBody:
        description: 'Url to an image hosted on (media.)robertsspaceindustries.com'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"url": "https://robertsspaceindustries.com/i/cc75a45005a236c6e015dfc2782a2f55ed1e84a2/ADdPNihJzmPbNuTnFsH1DqUeqBRpXdSXVVtgJTyDDgscGKrzJuoFjResiiucPBBDeyrBscqRyZz4qxNsSbWvqUwdG/alien-week-2022-front.webp"}'
      responses:
        '200':
          description: 'List of Comm-Links that use that image'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'No Comm-Link found.'
  /api/v2/comm-links/reverse-image-search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Search'
      description: 'Search comm-links by uploading an image and specifying a similarity threshold.'
      operationId: 8bdf90ecd3e5006a622e7003282cc66b
      parameters:
        -
          name: similarity
          in: query
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              required:
                - image
              properties:
                image:
                  description: 'The image to reverse-search'
                  type: string
                  format: binary
              type: object
      responses:
        '200':
          description: 'List of Comm-Links that use that image'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'No Comm-Link found.'
  '/api/comm-link-images/{image}/similar':
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Search
      summary: 'Comm-Link Reverse Image Similar Search'
      description: 'Find Comm-Link images similar to an existing RSI-hosted image.'
      operationId: fade67e6a8c4629ba8554b85925c1148
      parameters:
        -
          name: image
          in: path
          required: true
          schema:
            type: integer
        -
          name: similarity
          in: query
          description: 'Threshold similarity percentage (defaults to 50)'
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
      responses:
        '200':
          description: 'List of Comm-Link images that match the requested similarity'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_link'
        '404':
          description: 'Comm-Link image not found.'
      security:
        -
          securityScheme: sanctum
          type: http
          bearerFormat: JWT
          scheme: bearer
  /api/comm-link-images:
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
      summary: 'Comm-Link Images'
      description: 'List available comm-link images with pagination.'
      operationId: a705f668107b86178c6624b972dddefd
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: 'List of Comm-Link Images'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  '/api/comm-link-images/{image}':
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
      summary: 'Comm-Link Image Detail'
      description: 'Retrieve a single comm-link image with related metadata.'
      operationId: e496670c7fe9e04eeb76fb30e6209ab7
      parameters:
        -
          name: image
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 'A singular Comm-Link Image'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/comm_link_image'
        '404':
          description: 'Comm-Link image not found.'
  /api/comm-link-images/random:
    get:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
      summary: 'Comm-Link Images Random'
      description: 'Retrieve random comm-link images, optionally filtered by tag.'
      operationId: 0b0b5e244ccfb0fe78f81d536ba99257
      parameters:
        -
          name: limit
          in: query
          schema:
            type: integer
            maximum: 100
        -
          name: 'filter[tags]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Retrieve a random Comm-Link Image. Limit parameter sets the number of random images'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  /api/comm-link-images/search:
    post:
      tags:
        - Comm-Links
        - RSI-Website
        - Images
        - Search
      summary: 'Comm-Link Image Search by filename'
      description: 'Search comm-link images by filename with optional tag filtering.'
      operationId: dbd72b035105c4dcf17ee654931fe2ff
      parameters:
        -
          name: 'filter[tags]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'Search for a Comm-Link Image by its filename.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/comm_link_image'
  /api/galactapedia:
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Overview'
      description: 'Return paginated Galactapedia articles with category, tag, and template filters.'
      operationId: 48f80f5118a6ef2670845b9dd1b90357
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[category]'
          in: query
          schema:
            type: string
        -
          name: 'filter[tag]'
          in: query
          schema:
            type: string
        -
          name: 'filter[template]'
          in: query
          schema:
            type: string
        -
          name: 'filter[title]'
          in: query
          schema:
            type: string
        -
          name: 'filter[created_at]'
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 'List of Galactapedia Articles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/galactapedia_article'
  /api/galactapedia/filters:
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Filters'
      description: 'Return all available filter values for Galactapedia articles.'
      operationId: 8087c05b7d87a42900d3c920dcaf1c6e
      responses:
        '200':
          description: 'Available filters for Galactapedia.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { category: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, tag: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, template: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/galactapedia/{id}':
    get:
      tags:
        - Galactapedia
        - RSI-Website
      summary: 'Galactapedia Article'
      description: 'Retrieve a Galactapedia article by ID with available includes and translations.'
      operationId: 541ad0798eef38797ca9a341b81eedac
      parameters:
        -
          $ref: '#/components/parameters/locale'
        -
          name: id
          in: path
          required: true
          schema:
            description: 'Galactapedia Article ID'
            type: string
        -
          name: include
          in: query
          explode: false
          allowReserved: true
          schema:
            description: 'Available Galactapedia includes'
            type: array
            items:
              type: string
              enum:
                - translations
                - tags
                - categories
                - related_articles
                - properties
      responses:
        '200':
          description: 'A singular Article'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/galactapedia_article'
        '404':
          description: 'No Article with specified ID found.'
  /api/galactapedia/search:
    post:
      tags:
        - Galactapedia
        - RSI-Website
        - Search
      summary: 'Galactapedia Article Search (Deprecated)'
      description: 'Deprecated. Use GET /api/galactapedia?filter[title]={value} for title search. This endpoint will be removed in a future version.'
      operationId: ed9b1b052b5dd9a03e0f7ee5a21cb8dd
      requestBody:
        description: 'Article (partial) title, template or slug'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Banu"}'
      responses:
        '200':
          description: 'List of articles matching the query'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/galactapedia_article'
      deprecated: true
  /api/celestial-objects:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starmap Celestial Objects Overview'
      description: 'Returns paginated celestial objects with optional relationships.'
      operationId: cb1abb65b355a5cbf26f23c3b231a676
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[starsystem]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          description: 'Partial match on celestial object name'
          schema:
            type: string
        -
          name: 'filter[designation]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: sort
          in: query
          schema:
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, starsystem).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'List of Celestial Objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/celestial_object'
  '/api/celestial-objects/{code}':
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Celestial Object Detail'
      description: 'Retrieve a celestial object by code, optionally including relations.'
      operationId: a56221ed3240e9c31bd996fb9cf85248
      parameters:
        -
          name: code
          in: path
          required: true
          schema:
            description: 'Celestial Object code (e.g., NYX.JUMPPOINTS.BREMEN)'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, starsystem).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'A Celestial Object'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/celestial_object'
        '404':
          description: 'No Celestial Object with specified code found.'
  /api/celestial-objects/search:
    post:
      tags:
        - Starmap
        - RSI-Website
        - Search
      summary: 'Celestial Object Search (Deprecated)'
      description: 'Deprecated. Use GET /api/celestial-objects?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: 34134c8a7a8bb87a6c6f905cbce9ed42
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Partial celestial object code or name to search for'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  type: string
              type: object
            example: '{"query": "Pleiades"}'
      responses:
        '200':
          description: 'List of matching Celestial Objects'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/celestial_object'
      deprecated: true
  /api/starsystems:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starmap Starsystems Overview'
      description: 'Returns paginated starsystems, optionally including related resources.'
      operationId: dfb10343a9a3f85578e98f63dbfa7bf2
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[affiliation]'
          in: query
          schema:
            type: string
        -
          name: 'filter[code]'
          in: query
          schema:
            type: string
        -
          name: 'filter[name]'
          in: query
          schema:
            type: string
        -
          name: 'filter[status]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: number
        -
          name: sort
          in: query
          schema:
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, celestialObjects).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'List of Starsystems'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/starsystem'
  '/api/starsystems/{code}':
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starsystem Detail'
      description: 'Retrieve a starsystem by code or identifier, with optional includes.'
      operationId: 1b478c502ef1afe25fbdcc192a8b7fd6
      parameters:
        -
          name: code
          in: path
          required: true
          schema:
            description: 'Starsystem code or identifier (e.g. SOL)'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (affiliation, celestialObjects).'
          explode: false
          allowReserved: true
          schema:
            type: string
      responses:
        '200':
          description: 'A Starsystem'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/starsystem'
        '404':
          description: 'No Starsystem with specified code found.'
  /api/starsystems/search:
    post:
      tags:
        - Starmap
        - RSI-Website
        - Search
      summary: 'Starsystem Search (Deprecated)'
      description: 'Deprecated. Use GET /api/starsystems?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: ae8a21d883ee8e48ac7be01e3ed3084a
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      requestBody:
        description: 'Partial starsystem code or name to search for'
        required: true
        content:
          application/json:
            schema:
              properties:
                query:
                  type: string
              type: object
            example: '{"query": "Sol"}'
      responses:
        '200':
          description: 'List of matching Starsystems'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/starsystem'
      deprecated: true
  /api/starsystems/filters:
    get:
      tags:
        - Starmap
        - RSI-Website
      summary: 'Starsystem Filters'
      description: 'Return all available filter values for starsystems.'
      operationId: 7d3e54fa78ec8659a190388720bb5523
      responses:
        '200':
          description: 'Available filters for starsystems.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { affiliation: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, status: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  /api/stats/latest:
    get:
      tags:
        - Stats
        - RSI-Website
      summary: 'Latest Fund / Fleet Stats'
      description: 'Return the most recent fund and fleet statistics snapshot.'
      operationId: bd891b16c3cee16ea79438380f9b4f8b
      responses:
        '200':
          description: 'Latest statistics'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stat'
  /api/stats:
    get:
      tags:
        - Stats
        - RSI-Website
      summary: 'Fund / Fleet Stats'
      description: 'Return paginated historical fund and fleet statistics.'
      operationId: 5e2fda37059d5c1883d2b7b511c2ac53
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
      responses:
        '200':
          description: 'List of stats'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/stat'
  /api/shipmatrix/vehicles:
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicles Overview'
      description: 'Returns paginated Ship Matrix vehicles with optional filters for manufacturer, size, and status.'
      operationId: 3222e355ea1183c3b381f5e039cdfe45
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by vehicle type slug'
          schema:
            type: string
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by vehicle focus slug (comma-separated for multiple)'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by production status slug'
          schema:
            type: string
      responses:
        '200':
          description: 'List of Ship-Matrix Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ship_matrix_vehicle'
  /api/shipmatrix/vehicles/filters:
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicle Filters'
      description: 'Return all available filter values for Ship Matrix vehicles.'
      operationId: 2906e4ea55463870d8502d869947066f
      responses:
        '200':
          description: 'Available filters for Ship Matrix vehicles.'
          content:
            application/json:
              schema:
                properties:
                  filters: { properties: { manufacturer: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, size: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, type: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, focus: { type: array, items: { $ref: '#/components/schemas/filter_value' } }, production_status: { type: array, items: { $ref: '#/components/schemas/filter_value' } } }, type: object }
                type: object
  '/api/shipmatrix/vehicles/{slug}':
    get:
      tags:
        - Ship-Matrix
        - Vehicles
      summary: 'Ship Matrix Vehicle Detail'
      description: 'Retrieve a Ship Matrix vehicle by slug with optional related data.'
      operationId: e0523e99711c283e722b02838dcad21e
      parameters:
        -
          name: slug
          in: path
          required: true
          schema:
            description: 'Vehicle slug'
            type: string
        -
          name: include
          in: query
          description: 'Include additional relationships (components, loaner, skus)'
          schema:
            type: string
      responses:
        '200':
          description: 'A Ship-Matrix Vehicle'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ship_matrix_vehicle'
        '404':
          description: 'Vehicle not found'
  /api/shipmatrix/vehicles/search:
    post:
      tags:
        - Ship-Matrix
        - Vehicles
        - Search
      summary: 'Ship Matrix Vehicle Search (Deprecated)'
      description: 'Deprecated. Use GET /api/shipmatrix/vehicles?filter[name]={value} for name search. This endpoint will be removed in a future version.'
      operationId: 1405185e569f89147a09bdd1b41b8519
      parameters:
        -
          $ref: '#/components/parameters/page'
        -
          $ref: '#/components/parameters/page_number'
        -
          $ref: '#/components/parameters/page_size'
        -
          name: 'filter[manufacturer]'
          in: query
          schema:
            type: string
        -
          name: 'filter[size]'
          in: query
          schema:
            type: string
        -
          name: 'filter[type]'
          in: query
          description: 'Filter by vehicle type slug'
          schema:
            type: string
        -
          name: 'filter[focus]'
          in: query
          description: 'Filter by vehicle focus slug'
          schema:
            type: string
        -
          name: 'filter[production_status]'
          in: query
          description: 'Filter by production status slug'
          schema:
            type: string
      requestBody:
        description: 'Vehicle name to search for'
        required: true
        content:
          application/json:
            schema:
              type: object
            example: '{"query": "Avenger"}'
      responses:
        '200':
          description: 'A List of matching Ship-Matrix Vehicles'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ship_matrix_vehicle'
      deprecated: true
components:
  schemas:
    filter_value:
      title: 'Filter Value'
      description: 'A value available for filtering along with a human label and result count.'
      properties:
        value:
          nullable: true
          oneOf:
            -
              type: string
            -
              type: integer
            -
              type: boolean
        label:
          type: string
        count:
          type: integer
      type: object
    game_version:
      title: 'Game Version'
      properties:
        code:
          type: string
          example: 3.24.1-LIVE
        channel:
          type: string
          example: live
        released_at:
          type: string
          format: date-time
          example: '2024-12-15T10:00:00+00:00'
        is_default:
          type: boolean
          example: true
      type: object
    item_description_data:
      title: 'Item Description Data'
      description: 'Data found in the description of an item, e.g. "Carrying Capacity: 2kµSCU".'
      properties:
        name:
          type: string
        value:
          type: string
        type:
          description: 'Deprecated: Use "value" key.'
          type: string
          deprecated: true
      type: object
    item_dimension:
      title: 'Item Dimension'
      description: 'Dimensions of an item, generated from inventoryOccupancyDimensions or inventoryOccupancyDimensionsUIOverride in AttachDef.'
      properties:
        width:
          description: 'Width in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 0.52
          nullable: true
        height:
          description: 'Height in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 0.18
          nullable: true
        length:
          description: 'Length in meters, either from "DimensionOverrides" or "Dimension".'
          type: number
          format: double
          example: 1.12
          nullable: true
        volume:
          description: 'Cubic volume derived from the true dimensions (SCU).'
          type: number
          format: double
          example: 0.11
          nullable: true
        true_dimension:
          description: 'Raw dimensions from the game data in meters prior to overrides. Added only when the UI values differ from the canonical measurements.'
          properties:
            width:
              description: 'Original width pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 0.5
              nullable: true
            height:
              description: 'Original height pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 0.2
              nullable: true
            length:
              description: 'Original length pulled directly from the unmodified item definition (meters).'
              type: number
              format: double
              example: 1.1
              nullable: true
          type: object
          example:
            width: 0.5
            height: 0.2
            length: 1.1
          nullable: true
      type: object
    item_distortion:
      title: 'Item Distortion'
      description: 'Distortion information from stdItem.Distortion.'
      properties:
        decay_rate:
          type: number
          format: double
          nullable: true
        decay_delay:
          type: number
          format: double
          nullable: true
        maximum:
          type: number
          format: double
          nullable: true
        overload_ratio:
          description: 'Deprecated, does not exist anymore.'
          type: number
          format: double
          nullable: true
          deprecated: true
        warning_ratio:
          type: number
          format: double
          nullable: true
        recovery_ratio:
          type: number
          format: double
          nullable: true
        recovery_time:
          description: 'Deprecated, does not exist anymore.'
          type: number
          format: double
          nullable: true
          deprecated: true
        power_ratio_at_max_distortion:
          type: number
          format: double
          nullable: true
        power_change_only_at_max_distortion:
          type: integer
          nullable: true
        shutdown_time:
          type: number
          format: double
          nullable: true
      type: object
    item_durability:
      title: 'Item Durability'
      description: 'Durability information of an item, generated from SHealthComponentParams (health, repairable, salvageable) and SWearAccumulatorParams (max_lifetime).'
      properties:
        health:
          description: SHealthComponentParams@Health
          type: number
          format: double
          nullable: true
        max_lifetime:
          description: 'MaxLifetimeHours attribute on SWearAccumulatorParams'
          type: number
          format: double
          nullable: true
        repairable:
          description: SHealthComponentParams@IsRepairable
          type: boolean
        salvageable:
          description: SHealthComponentParams@IsSalvagable
          type: boolean
        resistance:
          description: 'Resistance attributes on SHealthComponentParams'
          type: object
          nullable: true
      type: object
    item_emission:
      title: 'Item EM / IR Emission'
      description: 'EM and IR Emission calculated from Resource Network'
      properties:
        ir:
          description: 'IR emission'
          type: number
          format: double
          nullable: true
        em_min:
          description: 'Minimum EM emission'
          type: number
          format: double
          nullable: true
        em_max:
          description: 'Maximum EM emission'
          type: number
          format: double
          nullable: true
        em_decay:
          description: 'EM decay'
          type: number
          format: double
          nullable: true
        em_per_segment:
          description: 'EM decay per segment'
          type: number
          format: double
          nullable: true
      type: object
    item_heat_connection:
      title: 'Item Heat Connection'
      description: 'Heat connection information, generated from EntityComponentHeatConnection attributes.'
      properties:
        temperature_to_ir:
          type: number
          format: double
          nullable: true
        ir_temperature_threshold:
          description: StartIRTemperature
          type: number
          format: double
          nullable: true
        overpower_heat:
          type: number
          format: double
          nullable: true
        overclock_threshold_min:
          type: number
          format: double
          nullable: true
        overclock_threshold_max:
          type: number
          format: double
          nullable: true
        thermal_energy_base:
          type: number
          format: double
          nullable: true
        thermal_energy_draw:
          type: number
          format: double
          nullable: true
        thermal_conductivity:
          type: number
          format: double
          nullable: true
        specific_heat_capacity:
          type: number
          format: double
          nullable: true
        mass:
          type: number
          format: double
          nullable: true
        surface_area:
          type: number
          format: double
          nullable: true
        start_cooling_temperature:
          type: number
          format: double
          nullable: true
        max_cooling_rate:
          type: number
          format: double
          nullable: true
        max_temperature:
          type: number
          format: double
          nullable: true
        min_temperature:
          type: number
          format: double
          nullable: true
        overheat_temperature:
          type: number
          format: double
          nullable: true
        recovery_temperature:
          type: number
          format: double
          nullable: true
        misfire_min_temperature:
          type: number
          format: double
          nullable: true
        misfire_max_temperature:
          type: number
          format: double
          nullable: true
        ir_emission:
          description: '(StartCoolingTemperature - StartIRTemperature) * TemperatureToIR'
          type: number
          format: double
          nullable: true
      type: object
    item_inventory:
      title: 'Item Inventory'
      description: 'Container (Inventory) of an item, resolved from SCItemInventoryContainerComponentParams'
      properties:
        uuid:
          description: 'Value of containerParams'
          type: string
          nullable: true
        width:
          description: interiorDimensions@x
          type: number
          format: double
          nullable: true
        height:
          description: interiorDimensions@z
          type: number
          format: double
          nullable: true
        length:
          description: interiorDimensions@y
          type: number
          format: double
          nullable: true
        volume:
          description: 'x*y*z'
          type: number
          format: double
          nullable: true
        scu:
          description: 'Amount of SCU this container can hold. This is the raw value as set in the game data.'
          type: number
          format: double
          example: 0.002
          nullable: true
        scu_converted:
          description: 'Raw SCU value (for example µSCU) converted to SCU'
          type: number
          format: double
          nullable: true
        unit:
          description: 'Unit as shown in the UI for example µSCU'
          type: string
          nullable: true
        micro_scu:
          description: 'µSCU version of SCU. Only calculated when unit is 0.'
          type: number
          format: double
          nullable: true
        open:
          description: IsOpenContainer
          type: boolean
          nullable: true
        external:
          description: IsExternalContainer
          type: boolean
          nullable: true
        closed:
          description: IsClosedContainer
          type: boolean
          nullable: true
      type: object
    item_link:
      title: 'Item Link'
      description: 'Link information to an Item'
      type: object
      allOf:
        -
          properties:
            uuid:
              type: string
            name:
              type: string
            class_name:
              type: string
              example: 987_jacket_03_01_04
            type:
              type: string
            sub_type:
              type: string
              nullable: true
            classification:
              type: string
              example: FPS.Clothing.Torso
              nullable: true
            is_base_variant:
              type: boolean
            manufacturer:
              $ref: '#/components/schemas/manufacturer_link'
            link:
              type: string
            size:
              type: integer
              nullable: true
            base_variant:
              description: 'Link to base variant item'
              type: string
              nullable: true
            variants:
              type: array
              items:
                $ref: '#/components/schemas/item_link'
              nullable: true
          type: object
        -
          $ref: '#/components/schemas/metadata'
    item_port:
      title: 'Item Port'
      properties:
        name:
          type: string
        display_name:
          type: string
          nullable: true
        position:
          type: string
          nullable: true
        size:
          type: integer
          nullable: true
        sizes:
          properties:
            min:
              type: integer
              nullable: true
            max:
              type: integer
              nullable: true
          type: object
        compatible_types:
          type: array
          items:
            $ref: '#/components/schemas/item_port_type'
          nullable: true
        types:
          description: 'Raw type strings as provided by the game data'
          type: array
          items:
            type: string
          nullable: true
        tags:
          type: array
          items:
            type: string
          nullable: true
        required_tags:
          type: array
          items:
            type: string
          nullable: true
        flags:
          description: 'Port flags from game data'
          type: array
          items:
            type: string
          nullable: true
        uneditable:
          description: 'Whether the port is locked'
          type: boolean
          nullable: true
        equipped_item_uuid:
          description: 'UUID of the equipped item'
          type: string
          nullable: true
        equipped_item:
          oneOf:
            -
              $ref: '#/components/schemas/item_link'
          nullable: true
        equipped_port_item:
          oneOf:
            -
              $ref: '#/components/schemas/game_port_item'
          nullable: true
      type: object
    item_port_type:
      title: 'Item Port Compatible Types'
      properties:
        type:
          type: string
          nullable: true
        sub_types:
          type: array
          items:
            type: string
          nullable: true
      type: object
    item_power_connection:
      title: 'Item Power Connection'
      description: 'Power connection information, generated from EntityComponentPowerConnection attributes.'
      properties:
        power_base:
          type: number
          format: double
          nullable: true
        power_draw:
          type: number
          format: double
          nullable: true
        throttleable:
          description: IsThrottleable
          type: boolean
          nullable: true
        overclockable:
          description: IsOverclockable
          type: boolean
          nullable: true
        overclock_threshold_min:
          type: number
          format: double
          nullable: true
        overclock_threshold_max:
          type: number
          format: double
          nullable: true
        overclock_performance:
          type: number
          format: double
          nullable: true
        overpower_performance:
          type: number
          format: double
          nullable: true
        power_to_em:
          type: number
          format: double
          nullable: true
        decay_rate_em:
          type: number
          format: double
          nullable: true
        em_min:
          description: 'PowerBase * PowerToEm. Use ResourceNetwork data instead.'
          type: number
          format: double
          nullable: true
        em_max:
          description: 'PowerDraw * PowerToEm. Use ResourceNetwork data instead.'
          type: number
          format: double
          nullable: true
      type: object
    game_item:
      title: Item
      description: 'An item in Star Citizen, based on EntityClassDefinition XML files.'
      properties:
        uuid:
          type: string
        name:
          type: string
        class_name:
          type: string
        classification:
          description: 'Not actually found in the game data, but generated by ScDataDumper.'
          type: string
          example: FPS.Clothing.Torso
        description:
          nullable: true
          oneOf:
            -
              type: string
            -
              type: array
              items:
                $ref: '#/components/schemas/translation'
        size:
          description: AttachDef@Size
          type: integer
          example: 1
          nullable: true
        mass:
          description: 'Generated from SEntityRigidPhysicsControllerParams'
          type: number
          format: double
          example: 1000
          nullable: true
        is_base_variant:
          type: boolean
        grade:
          description: 'Only returned for Ship.* items (derived formatting for ship grades).'
          type: string
          nullable: true
        class:
          description: 'Only returned for Ship.* items.'
          type: string
          nullable: true
        description_data:
          description: 'Key/value pairs derived from the item description.'
          type: array
          items:
            $ref: '#/components/schemas/item_description_data'
          nullable: true
        manufacturer_description:
          description: 'Manufacturer set in the description'
          type: string
          nullable: true
        manufacturer:
          oneOf:
            -
              $ref: '#/components/schemas/manufacturer_link'
          nullable: true
        type:
          description: 'AttachDef@Type (NOITEM_ prefix removed)'
          type: string
          nullable: true
        type_web_url:
          description: 'Web URL for filtering items by type'
          type: string
          nullable: true
        sub_type:
          description: AttachDef@SubType
          type: string
          nullable: true
        position:
          description: 'Only returned for WeaponAttachment items (non-placeholder). Maps sub_type to a display slot name.'
          type: string
          example: Optic
          nullable: true
        max_mounts:
          description: 'Only returned for turret-like items.'
          type: integer
          nullable: true
        max_missiles:
          description: 'Only returned for MissileLauncher turret-like items.'
          type: integer
          nullable: true
        max_bombs:
          description: 'Only returned for BombLauncher turret-like items.'
          type: integer
          nullable: true
        min_size:
          description: 'Only returned for turret-like items.'
          type: integer
          nullable: true
        max_size:
          description: 'Only returned for turret-like items.'
          type: integer
          nullable: true
        dimension:
          $ref: '#/components/schemas/item_dimension'
        inventory:
          oneOf:
            -
              $ref: '#/components/schemas/item_inventory'
          nullable: true
        tags:
          description: AttachDef@Tags
          type: array
          items:
            type: string
          nullable: true
        required_tags:
          description: AttachDef@RequiredTags
          type: array
          items:
            type: string
          nullable: true
        entity_tags:
          description: 'Entity tag UUIDs from the database relationship (empty array when not loaded).'
          type: array
          items:
            type: string
          nullable: true
        entity_tag_map:
          description: 'Entity tags from the database relationship (empty array when not loaded).'
          type: array
          items:
            properties:
              uuid:
                type: string
              name:
                type: string
            type: object
          nullable: true
        interactions:
          description: 'Generated from SInteractionPointParams'
          type: array
          items:
            type: string
          nullable: true
        ports:
          description: 'Item ports derived from stdItem.Ports.'
          type: array
          items:
            $ref: '#/components/schemas/item_port'
          nullable: true
        heat:
          oneOf:
            -
              $ref: '#/components/schemas/item_heat_connection'
          nullable: true
        temperature:
          oneOf:
            -
              $ref: '#/components/schemas/item_temperature'
          nullable: true
        power:
          oneOf:
            -
              $ref: '#/components/schemas/item_power_connection'
          nullable: true
        distortion:
          oneOf:
            -
              $ref: '#/components/schemas/item_distortion'
          nullable: true
        durability:
          oneOf:
            -
              $ref: '#/components/schemas/item_durability'
          nullable: true
        resource_container:
          oneOf:
            -
              $ref: '#/components/schemas/resource_container'
          nullable: true
        resource_network:
          oneOf:
            -
              $ref: '#/components/schemas/resource_network'
          nullable: true
        emission:
          oneOf:
            -
              $ref: '#/components/schemas/item_emission'
          nullable: true
        seat:
          oneOf:
            -
              $ref: '#/components/schemas/seat'
          nullable: true
        ammunition:
          oneOf:
            -
              $ref: '#/components/schemas/ammunition'
          nullable: true
        temperature_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/temperature_resistance'
          nullable: true
        radiation_resistance:
          oneOf:
            -
              $ref: '#/components/schemas/radiation_resistance'
          nullable: true
        armor:
          oneOf:
            -
              $ref: '#/components/schemas/vehicle_armor'
          nullable: true
        cooler:
          oneOf:
            -
              $ref: '#/components/schemas/cooler'
          nullable: true
        flight_controller:
          oneOf:
            -
              $ref: '#/components/schemas/flight_controller'
          nullable: true
        fuel_tank:
          oneOf:
            -
              $ref: '#/components/schemas/fuel_tank'
          nullable: true
        fuel_intake:
          oneOf:
            -
              $ref: '#/components/schemas/fuel_intake'
          nullable: true
        hacking_chip:
          oneOf:
            -
              $ref: '#/components/schemas/hacking_chip'
          nullable: true
        mining_laser:
          oneOf:
            -
              $ref: '#/components/schemas/mining_laser'
          nullable: true
        mining_module:
          oneOf:
            -
              $ref: '#/components/schemas/mining_module'
          nullable: true
        mining_modifier:
          oneOf:
            -
              $ref: '#/components/schemas/mining_modifier'
          nullable: true
        mining_gadget:
          oneOf:
            -
              $ref: '#/components/schemas/mining_module'
          nullable: true
          description: 'Mining gadget currently resolves using the mining_module schema.'
        quantum_drive:
          oneOf:
            -
              $ref: '#/components/schemas/quantum_drive'
          nullable: true
        quantum_interdiction_generator:
          oneOf:
            -
              $ref: '#/components/schemas/quantum_interdiction_generator'
          nullable: true
        self_destruct:
          oneOf:
            -
              $ref: '#/components/schemas/self_destruct'
          nullable: true
        shield:
          oneOf:
            -
              $ref: '#/components/schemas/shield'
          nullable: true
        shield_controller:
          oneOf:
            -
              $ref: '#/components/schemas/shield_controller'
          nullable: true
        jump_drive:
          oneOf:
            -
              $ref: '#/components/schemas/jump_drive'
          nullable: true
        thruster:
          oneOf:
            -
              $ref: '#/components/schemas/thruster'
          nullable: true
        power_plant:
          oneOf:
            -
              $ref: '#/components/schemas/power_plant'
          nullable: true
        radar:
          oneOf:
            -
              $ref: '#/components/schemas/radar'
          nullable: true
        cargo_grid:
          oneOf:
            -
              $ref: '#/components/schemas/item_inventory'
          nullable: true
        clothing:
          description: 'Note: FPS armor currently also populates this key due to resource logic. Prefer returning suit_armor instead.'
          nullable: true
          oneOf:
            -
              $ref: '#/components/schemas/clothing'
            -
              $ref: '#/components/schemas/suit_armor'
        suit_armor:
          oneOf:
            -
              $ref: '#/components/schemas/suit_armor'
          nullable: true
          description: 'FPS Armor'
        bomb:
          oneOf:
            -
              $ref: '#/components/schemas/bomb'
          nullable: true
        missile:
          oneOf:
            -
              $ref: '#/components/schemas/missile'
          nullable: true
        missile_rack:
          oneOf:
            -
              $ref: '#/components/schemas/missile_rack'
          nullable: true
        counter_measure:
          oneOf:
            -
              $ref: '#/components/schemas/counter_measure'
          nullable: true
        emp:
          oneOf:
            -
              $ref: '#/components/schemas/emp'
          nullable: true
        personal_weapon:
          oneOf:
            -
              $ref: '#/components/schemas/personal_weapon'
          nullable: true
        vehicle_weapon:
          oneOf:
            -
              $ref: '#/components/schemas/vehicle_weapon'
          nullable: true
        melee_weapon:
          oneOf:
            -
              $ref: '#/components/schemas/melee_weapon'
          nullable: true
        grenade:
          oneOf:
            -
              $ref: '#/components/schemas/grenade'
          nullable: true
        knife:
          oneOf:
            -
              $ref: '#/components/schemas/melee_weapon'
          nullable: true
          deprecated: true
        turret:
          oneOf:
            -
              $ref: '#/components/schemas/turret'
          nullable: true
        tractor_beam:
          oneOf:
            -
              $ref: '#/components/schemas/tractor_beam'
          nullable: true
        food:
          oneOf:
            -
              $ref: '#/components/schemas/food'
          nullable: true
        medical:
          oneOf:
            -
              $ref: '#/components/schemas/medicine'
          nullable: true
        weapon_modifier:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_modifier'
          nullable: true
        salvage_modifier:
          oneOf:
            -
              $ref: '#/components/schemas/salvage_modifier'
          nullable: true
        iron_sight:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_iron_sight'
          nullable: true
        laser_pointer:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_laser_pointer'
          nullable: true
        flashlight:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_flashlight'
          nullable: true
        magazine:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_magazine'
          nullable: true
        compensator:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_barrel_attachment'
          nullable: true
        flash_hider:
          oneOf:
            -
              $ref: '#/components/schemas/weapon_attachment_barrel_attachment'
          nullable: true
        base_variant:
          oneOf:
            -
              $ref: '#/components/schemas/item_link'
          nullable: true
        variants:
          type: array
          items:
            $ref: '#/components/schemas/item_link'
          nullable: true
        related_items:
          oneOf:
            -
              $ref: '#/components/schemas/item_related_items'
          nullable: true
          description: 'Only returned when `include=related_items` is requested.'
        shops:
          description: 'Deprecated: shop data is not available in the source files anymore.'
          type: array
          items:
            type: object
          nullable: true
          deprecated: true
        uex_prices:
          description: 'Item prices from UEX Corp API.'
          type: array
          items:
            properties:
              terminal_id:
                type: integer
              terminal_name:
                type: string
              price_buy:
                type: number
                format: double
              price_sell:
                type: number
                format: double
              date_updated:
                type: string
                format: date-time
            type: object
          nullable: true
        web_url:
          description: 'Web URL for item detail page'
          type: string
        link:
          description: 'API URL for item detail endpoint'
          type: string
        updated_at:
          description: 'Date/time this item was updated in the database.'
          type: string
          format: date-time
        version:
          description: 'Game version code'
          type: string
          example: 4.4.0-LIVE.12340123
      type: object
    item_related_link:
      title: 'Related Item Link'
      description: 'Minimal link information for a related item'
      properties:
        uuid:
          type: string
        name:
          type: string
        variant_name:
          type: string
          nullable: true
        link:
          type: string
      type: object
    item_related_link_ext:
      title: 'Related Item Link (Extended)'
      description: 'Related item link with basic classification'
      allOf:
        -
          $ref: '#/components/schemas/item_related_link'
        -
          properties:
            type:
              type: string
              nullable: true
            sub_type:
              type: string
              nullable: true
          type: object
    item_related_items:
      title: 'Related Items'
      description: 'Aggregated related information for base/variants and set items'
      properties:
        set_name:
          type: string
          nullable: true
        base_item:
          oneOf:
            -
              $ref: '#/components/schemas/item_related_link'
          nullable: true
        variant_items:
          type: array
          items:
            $ref: '#/components/schemas/item_related_link'
          nullable: true
        set_items:
          type: array
          items:
            $ref: '#/components/schemas/item_related_link_ext'
          nullable: true
      type: object
    item_temperature:
      title: 'Item Temperature'
      description: 'Calculated temperature information, generated from Temperature attributes.'
      properties:
        cooling_threshold:
          description: 'Calculated cooling threshold'
          type: number
          format: double
          nullable: true
        ir_threshold:
          description: 'Calculated IR threshold'
          type: number
          format: double
          nullable: true
        overheat_threshold:
          description: 'Calculated overheat threshold'
          type: number
          format: double
          nullable: true
        max_temperature:
          description: 'Calculated maximum temperature'
          type: number
          format: double
          nullable: true
        recovery_temperature:
          description: 'Calculated recovery temperature'
          type: number
          format: double
          nullable: true
      type: object
    game_port_item:
      title: 'Equipped Port Item'
      description: 'Item equipped in a port, with basic item data, optional manufacturer, and conditional resource network and emission details.'
      type: object
      allOf:
        -
          $ref: '#/components/schemas/item_related_items'
        -
          properties:
            uuid:
              type: string
            name:
              type: string
            class_name:
              type: string
            type:
              description: 'AttachDef@Type (NOITEM_ prefix removed)'
              type: string
              nullable: true
            sub_type:
              description: AttachDef@SubType
              type: string
              nullable: true
            link:
              description: 'API URL for item detail endpoint'
              type: string
            size:
              description: AttachDef@Size
              type: integer
              nullable: true
            mass:
              description: 'Generated from SEntityRigidPhysicsControllerParams'
              type: number
              format: double
              nullable: true
            grade:
              description: 'Derived formatting for ship grades (A, B, C, D) or extracted from DescriptionData.Grade'
              type: string
              nullable: true
            class:
              description: 'From DescriptionData.Class if not set directly'
              type: string
              nullable: true
            manufacturer:
              oneOf:
                -
                  $ref: '#/components/schemas/manufacturer_link'
              nullable: true
              description: 'Present when manufacturer is set'
            resource_network:
              oneOf:
                -
                  $ref: '#/components/schemas/resource_network'
              nullable: true
              description: 'Present when stdItem.ResourceNetwork exists'
            emission:
              oneOf:
                -
                  $ref: '#/components/schemas/item_emission'
              nullable: true
              description: 'Present when stdItem.ResourceNetwork exists; calculated emission values'
            version:
              description: 'Game version code'
              type: string
              example: 4.4.0-LIVE.12340123
          type: object
    resource_container:
      title: 'Resource Container'
      description: 'Container data for items that can hold resources (e.g. cargo or consumables).'
      properties:
        mass:
          type: number
          format: double
          nullable: true
        immutable:
          type: boolean
          nullable: true
        default_fill_fraction:
          description: 'Initial fill fraction (0-1).'
          type: number
          format: double
          nullable: true
        capacity:
          properties:
            value:
              type: number
              format: double
              nullable: true
            unit:
              type: string
              nullable: true
            unit_name:
              type: string
              nullable: true
            scu:
              type: number
              format: double
              nullable: true
          type: object
          nullable: true
        inclusive_resources:
          description: 'UUIDs of resources allowed in this container.'
          type: array
          items:
            type: string
          nullable: true
        default_composition:
          description: 'Default composition entries and weights.'
          type: array
          items:
            properties:
              entry:
                type: string
                nullable: true
              weight:
                type: number
                format: double
                nullable: true
            type: object
          nullable: true
      type: object
    resource_network_delta:
      title: 'Resource Network Delta'
      description: 'Single resource change entry applied when a network state is active.'
      properties:
        type:
          description: 'Delta type (Consumption, Generation, Conversion, Storage, NetworkReflection).'
          type: string
          example: Consumption
          nullable: true
        resource:
          description: 'Target resource affected (Power, Fuel, Coolant, QuantumFuel, Shield, LifeSupport).'
          type: string
          example: Power
          nullable: true
        rate:
          description: 'Rate applied per tick (game native units). Typical power draw ~2–5; fuel draw often 0.01.'
          type: number
          format: double
          example: 2.2
          nullable: true
        minimum_fraction:
          description: 'Minimum fraction of the resource that must be available before the delta applies.'
          type: number
          format: double
          example: 0.25
          nullable: true
        generated_resource:
          description: 'Resource produced by conversion/storage deltas.'
          type: string
          example: Coolant
          nullable: true
        generated_rate:
          description: 'Rate of the generated resource.'
          type: number
          format: double
          example: 22
          nullable: true
        discharge:
          description: 'Whether stored resource is discharged (0/1 flag).'
          type: number
          format: double
          example: 0
          nullable: true
        no_over_generation:
          description: 'Prevents generating above capacity (0/1 flag).'
          type: number
          format: double
          example: 0
          nullable: true
        binary_evaluation:
          description: 'Binary reflection value for NetworkReflection deltas.'
          type: number
          format: double
          example: 1
          nullable: true
        composition:
          description: 'Optional composition entries describing how generated resource is assembled.'
          type: array
          items:
            properties:
              container_resource:
                type: string
                example: bcc8cde9-de58-4e6b-8ee9-37d4aaa507eb
                nullable: true
              ratio:
                type: number
                format: double
                example: 1
                nullable: true
            type: object
          nullable: true
      type: object
    resource_network_state:
      title: 'Resource Network State'
      description: 'Named state in the resource network with its signature and deltas.'
      properties:
        name:
          description: 'State name (e.g. Online). Can be empty on some items.'
          type: string
          example: Online
          nullable: true
        signature:
          description: 'Electromagnetic/infrared signature while in this state.'
          properties:
            em:
              type: number
              format: double
              example: 1490
              nullable: true
            ir:
              type: number
              format: double
              example: 7260
              nullable: true
          type: object
          nullable: true
        deltas:
          type: array
          items:
            $ref: '#/components/schemas/resource_network_delta'
          nullable: true
        power_ranges:
          description: 'Power range modifiers applied when this state is active.'
          type: array
          items:
            properties:
              start:
                description: 'Start value of the power range.'
                type: number
                format: double
                nullable: true
              modifier:
                description: 'Modifier applied within this power range.'
                type: number
                format: double
                nullable: true
              register_range:
                description: 'Whether this range should be registered.'
                type: boolean
                nullable: true
            type: object
          nullable: true
      type: object
    resource_network:
      title: 'Resource Network'
      description: 'Networked resource behaviour for an item, including power/fuel consumption, generation, and priority.'
      properties:
        is_networked:
          description: 'Whether the item participates in the ship/station resource network.'
          type: boolean
          example: true
          nullable: true
        is_relay:
          description: 'True when the item acts as a relay node.'
          type: boolean
          example: false
          nullable: true
        default_priority:
          description: 'Processing priority within the network (higher runs earlier). Commonly 50; fuel tanks use 100.'
          type: integer
          example: 50
          nullable: true
        states:
          description: 'List of available network states and their resource deltas.'
          type: array
          items:
            $ref: '#/components/schemas/resource_network_state'
          nullable: true
        repair:
          description: 'Repair configuration for this networked item.'
          properties:
            max_repair_count:
              description: 'Maximum number of repairs allowed.'
              type: integer
              nullable: true
            time_to_repair:
              description: 'Time required to perform a repair (seconds).'
              type: number
              format: double
              nullable: true
            health_ratio:
              description: 'Health ratio threshold for repair eligibility.'
              type: number
              format: double
              nullable: true
          type: object
          nullable: true
        usage:
          description: 'Resource usage configuration defining minimum and maximum consumption rates.'
          properties:
            power:
              description: 'Power usage range.'
              properties:
                minimum:
                  description: 'Minimum power usage (game units, typically 2-5).'
                  type: number
                  format: double
                  nullable: true
                maximum:
                  description: 'Maximum power usage (game units, typically 2-5).'
                  type: number
                  format: double
                  nullable: true
              type: object
              nullable: true
            coolant:
              description: 'Coolant usage range.'
              properties:
                minimum:
                  description: 'Minimum coolant usage.'
                  type: number
                  format: double
                  nullable: true
                maximum:
                  description: 'Maximum coolant usage.'
                  type: number
                  format: double
                  nullable: true
              type: object
              nullable: true
          type: object
          nullable: true
        generation:
          description: 'Resource generation configuration defining production rates.'
          properties:
            coolant:
              description: 'Coolant generation rate.'
              type: number
              format: double
              nullable: true
            power:
              description: 'Power generation rate.'
              type: number
              format: double
              nullable: true
          type: object
          nullable: true
      type: object
    ammunition_damage_falloff:
      title: 'Ammunition Damage Falloff (v2)'
      description: 'Legacy damage falloff entry grouped by type. Deprecated in favour of the damage_drop_* fields.'
      properties:
        Physical:
          type: number
          format: double
          nullable: true
        Energy:
          type: number
          format: double
          nullable: true
        Distortion:
          type: number
          format: double
          nullable: true
        Thermal:
          type: number
          format: double
          nullable: true
        Biochemical:
          type: number
          format: double
          nullable: true
        Stun:
          type: number
          format: double
          nullable: true
      type: object
      deprecated: true
    ammunition:
      title: Ammunition
      description: 'Projectile behaviour and damage data from Item.stdItem.Ammunition. Values are taken directly from game data without simulation or derived calculations.'
      properties:
        uuid:
          description: 'Unique identifier for this ammunition type.'
          type: string
          nullable: true
        speed:
          description: 'Projectile speed in m/s.'
          type: number
          format: double
          example: 600
          nullable: true
        lifetime:
          description: 'Lifetime in seconds before the projectile despawns.'
          type: number
          format: double
          example: 2
          nullable: true
        range:
          description: 'Effective range in meters (speed × lifetime when provided by the game).'
          type: number
          format: double
          example: 1200
          nullable: true
        size:
          description: 'Projectile size used by the game for collision/damage logic.'
          type: integer
          example: 1
          nullable: true
        capacity:
[...]
