@import 'tailwindcss';
@import 'tabulator-tables/dist/css/tabulator_simple.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@plugin "daisyui" {
    themes: api-light --default, api-dark --prefersdark;
}


@plugin "daisyui/theme" {
    name: "api-dark";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(80% 0.105 251.813);
    --color-primary-content: oklch(28% 0.091 267.935);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(78% 0.115 274.713);
    --color-accent-content: oklch(25% 0.09 281.288);
    --color-neutral: oklch(20% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(70% 0.14 182.503);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "api-light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(67% 0.182 276.935);
    --color-primary-content: oklch(25% 0.09 281.288);
    --color-secondary: oklch(76% 0.177 163.223);
    --color-secondary-content: oklch(26% 0.051 172.552);
    --color-accent: oklch(70% 0.183 293.541);
    --color-accent-content: oklch(28% 0.141 291.089);
    --color-neutral: oklch(44% 0.043 257.281);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(60% 0.126 221.723);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(66% 0.179 58.318);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 0;
}




@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.tabulator.tabulator,
.tabulator.tabulator .tabulator-tableholder,
.tabulator.tabulator .tabulator-table,
.tabulator.tabulator .tabulator-placeholder {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    border-color: var(--color-base-300);
}

.tabulator.tabulator {
    border: var(--border) solid var(--color-base-300);
    border-radius: var(--radius-box);
    overflow: hidden;
    line-height: 1.25rem;
}

.tabulator.tabulator .tabulator-header {
    background-color: var(--color-base-300);
    color: var(--color-base-content);
    border-bottom: var(--border) solid var(--color-base-200);
}

.tabulator.tabulator .tabulator-col {
    border-right: var(--border) solid var(--color-base-300);
}

.tabulator.tabulator .tabulator-header .tabulator-col {
    background-color: var(--color-base-300);
}

.tabulator.tabulator .tabulator-header .tabulator-col .tabulator-col-title {
    color: var(--color-base-content);
}

.tabulator.tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    background-color: color-mix(in oklab, var(--color-base-200) 70%, var(--color-base-300));
    cursor: pointer;
}

.tabulator.tabulator .tabulator-col .tabulator-col-content {
    padding: 0.5rem 0.75rem;
}

.tabulator.tabulator .tabulator-arrow {
    border-top-color: color-mix(in oklab, var(--color-base-content) 55%, transparent);
    border-bottom-color: color-mix(in oklab, var(--color-base-content) 55%, transparent);
}

.tabulator.tabulator .tabulator-row {
    background-color: var(--color-base-100);
    border-bottom: var(--border) solid var(--color-base-200);
}

.tabulator.tabulator .tabulator-row.tabulator-row-odd {
    background-color: var(--color-base-200);
}

.tabulator.tabulator .tabulator-row.tabulator-row-even {
    background-color: var(--color-base-100);
    /*background-color: color-mix(in oklab, var(--color-base-100) 85%, var(--color-base-200));*/
}

.tabulator.tabulator .tabulator-row:hover {
    background-color: var(--color-base-300);
}

.tabulator.tabulator .tabulator-cell {
    padding: 0.5rem 0.75rem;
    border-right: none;/*var(--border) solid var(--color-base-200);*/
}

.tabulator.tabulator .tabulator-row.tabulator-selected {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
}

.tabulator.tabulator .tabulator-loader {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
}

.tabulator.tabulator .tabulator-loader .tabulator-loader-msg {
    background-color: var(--color-base-200);
    color: var(--color-base-content);
    border: var(--border) solid var(--color-base-300);
}

.tabulator.tabulator .tabulator-footer {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    border-top: var(--border) solid var(--color-base-300);
}

.tabulator.tabulator .tabulator-paginator {
    padding: 0.5rem 0.75rem;
    gap: 0.25rem;
}

.tabulator.tabulator .tabulator-page {
    padding: 0.35rem 0.6rem;
    border-radius: var(--radius-field);
    border: var(--border) solid var(--color-base-300);
    background-color: var(--color-base-100);
}

.tabulator.tabulator .tabulator-page {
    color: var(--color-base-content);
    border-color: var(--color-base-300);
}

.tabulator.tabulator .tabulator-page:hover {
    background-color: var(--color-base-200);
}

.tabulator.tabulator .tabulator-page.active {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    border-color: var(--color-primary);
}

.tabulator.tabulator .tabulator-header-filter input {
    background-color: color-mix(in oklab, var(--color-base-200) 85%, var(--color-base-100));
    color: var(--color-base-content);
    border: var(--border) solid color-mix(in oklab, var(--color-base-300) 80%, var(--color-base-content));
    border-radius: var(--radius-field);
    padding: 0.5rem 0.75rem;

}

.tabulator.tabulator .tabulator-header-filter input:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
    border-color: var(--color-primary);
}

.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-left,
.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
    border-color: var(--color-base-300);
}

.tabulator-row .tabulator-cell a {
    text-decoration: underline;
}

.tabulator .tabulator-footer .tabulator-paginator {
    color: var(--color-base-content);
}

