.btn-warning,
.btn-danger {
  color: #fefefe;

  &:hover {
    color: #e2e2e2;
  }
}

.btn-secondary:focus,
.btn-secondary.focus {
  border: none;
  background-color: var(--button-active) !important;
  box-shadow: none !important;
}

@include media-breakpoint-down(xs) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
  }
}