.status .card:last-of-type {
  margin-bottom: 0 !important;
}

.table.border-top-0 {
  th {
    border-top: 0;
  }
}

.dataTables_wrapper {
  .dataTables_length,
  .dataTables_info {
    padding-left: 15px;
  }

  .dataTables_filter,
  .dataTables_paginate {
    padding-right: 15px;
  }
}

.card-img-top:hover,
.img-thumbnail:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC");
}

.badge.last-modified {
  white-space: pre-line;
}

a.badge.badge-success.upload-btn {
  padding: 9px;
  margin-top: 10px;
  color: #fff;
}

@media (max-width: 620px) {
  .pagination {
    overflow-y: scroll;
  }
}

@media (max-width: 1080px) {
  .sidebar-section {
    flex-basis: 25%;
  }
}

.image-card-column {
  display: flex;
  flex-flow: wrap;
  gap: 0.5rem;

  .card {
    flex-basis: 18%;

    .card-img-top {
      max-height: 250px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1440px) {
  .image-card-column {
    .card {
      flex-basis: 30%;
    }
  }
}

@media (max-width: 576px) {
  .image-card-column {
    .card {
      flex-basis: 45%;
    }
  }
}

@media (max-width: 400px) {
  .image-card-column {
    .card {
      flex-basis: 100%;
    }
  }
}
