.status .card:last-of-type {
  margin-bottom: 0 !important;
}

.table.border-top-0 {
  th {
    border-top: 0;
  }
}

.dataTables_wrapper {
  .dataTables_length,
  .dataTables_info {
    padding-left: 15px;
  }

  .dataTables_filter,
  .dataTables_paginate {
    padding-right: 15px;
  }
}

.card-img-top:hover,
.img-thumbnail:hover {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAGElEQVQYV2N4DwX/oYBhgARgDJjEAAkAAEC99wFuu0VFAAAAAElFTkSuQmCC");
}