.text-light-grey {
  color: $gray-300 !important;
}

.bg-blue-grey {
  background-color: $blue-grey !important;
}

.border-blue-grey {
  border-color: $blue-grey !important;
}

.text-blue-grey {
  color: $blue-grey !important;
}

.text-strike {
  text-decoration: line-through;
}