.dataTables_wrapper {
    padding-right: 0px;
    padding-left: 35px;
}

.dataTables_wrapper .col-xs-12,
.dataTables_wrapper .row {
  width: 100%;
}

.dataTables_wrapper .row:nth-child(1),
.dataTables_wrapper .row:nth-child(3){
    width: 100%;
}

.dataTables_wrapper .row:nth-child(1) > div:nth-child(1) > div,
.dataTables_wrapper .row:nth-child(3) > div:nth-child(1) > div {
    float: left;
}

.dataTables_wrapper .row:nth-child(1) > div:nth-child(2) > div,
.dataTables_wrapper .row:nth-child(3) > div:nth-child(2) > div{
    float: right;
}

.dataTables_wrapper .form-control {
    margin-left: 1rem;
    margin-right: 1rem;
}